.intro-zhk {
    padding-top: 89px;
    background: linear-gradient(118.32deg, #342b29 0.67%, #1c1b1a 90.57%);

    &__h1 {
        margin-top: 32px;
    }

    &__info {
        margin-top: 32px;
        display: flex;
        justify-content: space-between;
        gap: 20px;
    }

    &__btn-down {
        position: fixed;
        z-index: 10;
        bottom: 20%;
        right: calc(27% - 46px);
        mix-blend-mode: color-dodge;
    }

    &__image {
        margin-top: 72px;
        padding-top: 93.39%;
        transform-origin: 50% 0;
        transform: scale(0.46);
        position: relative;

        img {
            border-radius: 16px;
        }
    }

    &__menu {
        position: fixed;
        z-index: 100;
        bottom: 24px;
        left: 0;
        right: 0;

        &__inner {
            display: flex;
            gap: 8px;
        }

        &__col-menu {
            min-width: 0;
        }
    }

    &__floors {
        position: absolute;
        bottom: 10%;
        left: 29.275%;
        width: 41.45%;
        height: 58%;

        &__item {
            clip-path: url(#floor-clip-path);
            margin-top: -8.5%;

            &:first-child {
                margin: 0;
            }

            &:hover {
                background: url(../img/intro-zhk/floor.svg);
                background-size: 100% 100%;
                cursor: pointer;
            }

            &:before {
                content: " ";
                padding-top: 18.52%;
                display: block;
            }
        }
    }

    &__svg {
        position: absolute;
        width: 0;
        height: 0;
        overflow: hidden;
    }
}
