.intro-zhk {
    padding-top: 89px;
    background: linear-gradient(118.32deg, #342b29 0.67%, #1c1b1a 90.57%);

    &__h1 {
        margin-top: 32px;
        overflow: hidden;

        img {
            transition: transform ease-out 1s;
            transform: translateY(101%);
        }
    }

    &__info {
        margin-top: 32px;
        display: flex;
        justify-content: space-between;
        gap: 20px;
        transition: opacity ease-out 0.5s;
        transition-delay: 0.7s;
        opacity: 0;
    }

    &__btn-down {
        transition: all 0.2s;
        position: fixed;
        z-index: 10;
        bottom: 20%;
        right: calc(27% - 46px);
        mix-blend-mode: color-dodge;
        visibility: hidden;
        opacity: 0;

        &.active {
            visibility: visible;
            opacity: 1;
        }
    }

    &__image {
        --border-radius: 16px;

        margin-top: 72px;
        padding-top: 93.39%;
        transition: transform ease-out 1s;
        transform-origin: 50% 0;
        transform: scale(0.3);
        position: relative;

        img {
            border-radius: var(--border-radius);
        }

        &--scalable {
            transition: none;
        }
    }

    &__menu {
        position: fixed;
        z-index: 100;
        bottom: 24px;
        left: 0;
        right: 0;

        &__inner {
            display: flex;
            gap: 8px;
        }

        &__col-menu {
            min-width: 0;
        }
    }

    &__floors {
        display: none;
        position: absolute;
        left: 29.275%;
        width: 41.45%;
        bottom: 10%;
        height: 58%;

        &__item {
            clip-path: url(#floor-clip-path);
            margin-top: -8.5%;

            &:first-child {
                margin: 0;
            }

            &:hover {
                background: url(../img/intro-zhk/floor.svg);
                background-size: 100% 100%;
                cursor: pointer;
            }

            &:before {
                content: " ";
                padding-top: 18.52%;
                display: block;
            }
        }
    }

    &__svg {
        position: absolute;
        width: 0;
        height: 0;
        overflow: hidden;
    }

    &__panel {
        transition: all 0.2s;
        position: fixed;
        z-index: 10;
        top: 50%;
        transform: translateY(-50%);
        left: 6vw;
        margin-top: 20px;
        visibility: hidden;
        opacity: 0;
        width: 350px;
        display: none;

        &.active {
            transition-delay: 0.2s;
            margin-top: 0;
            visibility: visible;
            opacity: 1;
        }
    }

    &--loaded {
        .intro-zhk__h1 {
            img {
                transform: translateY(0%);
            }
        }

        .intro-zhk__info {
            opacity: 1;
        }

        .intro-zhk__image {
            transform: scale(0.46);
        }
    }

    &--full-scale {
        .intro-zhk__floors {
            display: block;
        }

        .intro-zhk__panel {
            display: block;
        }

        .slider-menu {
            backdrop-filter: blur(10px);
        }
    }

    &--inactive {
        .intro-zhk__floors,
        .intro-zhk__panel {
            display: none;
        }
    }
}
