.section-people {
    &__header {
        margin-bottom: 50px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 20px;
    }

    &__h1 {
        font-size: 60px;
        font-weight: 500;
        line-height: calc(57 / 60);
    }

    &__nav {
    }

    &__quotes {
        display: none;
    }
}

@media (max-width: 999.98px) {
    .section-people {
        &__header {
            margin-bottom: 28px;
        }

        &__h1 {
            font-size: 32px;
        }

        &__nav {
            display: none;
        }

        &__quotes {
            margin-top: 28px;
            display: block;
        }
    }
}
