.section-location {
    &__header {
        margin-bottom: 50px;
        display: flex;
    }

    &__h1 {
        flex: 0 0 auto;
        width: 50%;
    }

    &__desc {
        font-size: 16px;
        font-weight: 500;
        line-height: calc(22.4 / 16);
        flex-grow: 1;
        max-width: 510px;
    }

    &__map {
        position: relative;
    }

    &__panel {
        position: absolute;
        z-index: 1000;
        top: 16px;
        left: 16px;
        bottom: 16px;
        padding: 32px;
        padding-right: 0;
        border-radius: 16px;
        background: #fff;
        width: 378px;

        &__scroll {
            height: 100%;
            overflow: auto;
        }

        &__inner {
            margin-right: 32px;
        }

        .scrollbar-inner > .scroll-element.scroll-y {
            right: 6px;
            width: 4px;
        }
    }
}

@media (max-width: 999.98px) {
    .section-location {
        &__header {
            display: block;
            margin-bottom: 40px;
        }

        &__h1 {
            width: 100%;
        }

        &__desc {
            width: 100%;
            font-size: 14px;
        }

        &__map {
        }

        &__panel {
            display: none;

            &__scroll {
            }

            &__inner {
            }

            .scrollbar-inner > .scroll-element.scroll-y {
            }
        }
    }
}
