.section-about {
    --name-shift: -108%;

    &__inner {
        position: relative;
    }

    &__h1 {
        margin-bottom: 24px;
        font-size: 60px;
        font-weight: 500;
        line-height: calc(57 / 60);
    }

    &__desc {
        font-size: 16px;
        font-weight: 500;
        line-height: calc(22.4 / 16);
    }

    &__props {
        margin-top: 60px;
    }

    &__row {
        --gap: 16px;

        display: flex;
        flex-wrap: wrap;
        margin: 0 calc(var(--gap) / 2 * -1);
    }

    &__col-desc,
    &__col-image {
        flex: 0 0 auto;
        padding: 0 calc(var(--gap) / 2);

        width: 33.33%;
    }

    &__col-image {
        &:last-child {
            padding-top: clamp(0px, 8vw, 150px);
            z-index: 7;
        }
    }

    &__image {
        img {
            border-radius: 16px;
        }
    }

    &__name {
        position: absolute;
        right: 0;
        bottom: 0;
        width: calc((100% - 32px) / 3);
        text-transform: uppercase;
        font-size: clamp(0px, 15vw, 280px);
        font-weight: 500;
        line-height: 0.9;
        letter-spacing: -0.05em;
        color: #ff6100;
        white-space: nowrap;
        z-index: 5;
        text-indent: var(--name-shift);

        &--stroke {
            color: transparent;
            -webkit-text-stroke: 2px #fff;
            overflow: hidden;
            z-index: 10;
        }
    }
}

@media (max-width: 1399.98px) {
    .section-about {
        &__inner {
        }

        &__h1 {
        }

        &__desc {
        }

        &__props {
        }

        &__row {
        }

        &__col-desc {
            width: 100%;
            margin-bottom: 60px;
        }

        &__col-image {
            width: 50%;
        }

        &__image {
            img {
            }
        }

        &__name {
            width: calc((100% - 16px) / 2);

            &--stroke {
            }
        }
    }
}

@media (max-width: 999.98px) {
    .section-about {
        &__inner {
        }

        &__h1 {
            margin-bottom: 28px;
            font-size: 32px;
        }

        &__desc {
            font-size: 14px;
        }

        &__props {
        }

        &__row {
            --gap: 8px;
        }

        &__col-desc {
        }

        &__col-image {
        }

        &__image {
            img {
                border-radius: 6px;
            }
        }

        &__name {
            &--stroke {
            }
        }
    }
}
