.section-window {
    &__h1 {
        font-size: 298px;
        font-weight: 500;
        line-height: 0.8;
        letter-spacing: -0.04em;
        color: #11111112;
    }

    &__desc {
        max-width: 584px;
        margin: 80px auto 0 auto;
        font-family: Uni Neue;
        font-size: 24px;
        font-weight: 700;
        line-height: calc(33.6 / 24);
        letter-spacing: -0.02em;
        text-align: center;
        opacity: 0.7;
        color: #000000;
    }

    &__photos {
        margin-top: -20px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 16px;

        > div {
            &:nth-child(2) {
                margin-top: 78px;
            }
        }
    }

    &__image {
        padding-top: 79.76%;
        border-radius: 16px;
        overflow: hidden;
    }
}

@media (max-width: 999.98px) {
    .section-window {
        &__h1 {
            font-size: 60px;
        }

        &__desc {
            max-width: clamp(260px, 50vw, 400px);
            font-size: 14px;
            margin-top: 40px;
        }

        &__photos {
            margin: 40px -200px 0 -200px;
            gap: 8px;

            > div {
                &:nth-child(2) {
                    margin-top: 24px;
                }
            }
        }

        &__image {
        }
    }
}
