.section-about {
    &__tools {
        padding: 80px 0 120px 0;
    }

    &__h1 {
        margin-bottom: 24px;
        font-size: 60px;
        font-weight: 500;
        line-height: calc(57 / 60);
    }

    &__desc {
        font-size: 16px;
        font-weight: 500;
        line-height: calc(22.4 / 16);
    }

    &__props {
        margin-top: 60px;
    }

    &__row {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 16px;
    }

    &__col {
        &:last-child {
            padding-top: 148px;
        }
    }

    &__image {
        padding-top: 138%;

        img {
            border-radius: 16px;
        }
    }
}
