.grid-people {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    grid-template-rows: 1fr 1fr;
    grid-auto-rows: 0;
    overflow: hidden;
    margin: 0 -8px;

    > div {
        margin-bottom: 16px;
        padding: 0 8px;
    }
}

@media (max-width: 999.98px) {
    .grid-people {
        display: block;
        white-space: nowrap;
        margin: 0 -6px;
        overflow: visible;
        font-size: 0;

        > div {
            display: inline-block;
            padding: 5px 6px;
            margin: 0;
            width: clamp(86px, 23vw, 150px);

            &.active {
                .card-person {
                    outline: 1px solid #ff6100;
                    outline-offset: 2px;
                    border-radius: 10px;
                }
            }
            &.empty {
                display: none;
            }
        }
    }
}
