.grid-docs {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;

    > div {
        display: flex;
        flex-direction: column;
        min-width: 0;

        > * {
            flex-grow: 1;
        }
    }
}
