.btn-play {
    @include reset-btn;
    width: 1em;
    height: 1em;
    background: #ffffff33;
    backdrop-filter: blur(10px);
    border-radius: 50%;
    font-size: 150px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
        transform: scale(1.1);
    }

    .icon {
        font-size: calc(24 / 150) + em;
    }
}

@media (max-width: 999.98px) {
    .btn-play {
        &:hover {
        }

        .icon {
        }
    }
}
