.btn-arrow {
    @include reset-btn;
    width: 1em;
    height: 1em;
    background: #f4f4f4;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 60px;

    &.swiper-button-disabled {
        opacity: 0.5;
    }

    &:not(.swiper-button-disabled) {
        &:hover {
            background: #ff6100;
            color: #fff;
        }
    }

    .icon {
        font-size: calc(12 / 60) + em;
    }

    &--blur {
        backdrop-filter: blur(10px);
        background: #ffffff66;
        color: #fff;
    }
}

@media (max-width: 999.98px) {
    .btn-arrow {
        font-size: 50px;

        &.swiper-button-disabled {
        }

        &:not(.swiper-button-disabled) {
            &:hover {
            }
        }

        .icon {
        }
    }
}
