.btn-down {
    @include reset-btn;
    width: 1em;
    height: 1em;
    font-size: 140px;
    border: 1px solid currentColor;
    border-radius: 50%;
    color: #ff6100;
    display: inline-flex;
    justify-content: center;
    align-items: center;

    .icon {
        font-size: calc(42 / 140) + em;
    }
}
