.article-docs {
    padding: 20px;
    font-size: 16px;

    p {
        margin: 20px 0;

        &:first-child {
            margin-top: 0;
        }

        &:last-child {
            margin-bottom: 0;
        }
    }

    b {
        font-weight: 700;
    }

    ul {
        list-style: disc inside;

        li {
            margin: 10px 0;
        }
    }
}
