.article-default {
    font-size: 1.8rem;

    * {
        @include reset-margins;
    }

    p {
        margin: 2.4rem 0;
    }

    ul {
        margin: 5.6rem 0;

        &.ul-2-cols {
            column-count: 2;
            column-gap: 2rem;
            margin-bottom: -2.4rem;

            li {
                break-inside: avoid-column;
            }
        }

        &.ul-closer {
            li {
                padding-bottom: 1.8rem;
            }
        }

        li {
            position: relative;
            padding-bottom: 2.4rem;
            padding-left: 4rem;

            &:last-child {
                padding-bottom: 0 !important;
            }

            &:before {
                content: " ";
                position: absolute;
                left: 0;
                top: 0.6em;
                transform: translateY(-50%);
                width: calc(10 / 18) + em;
                height: calc(10 / 18) + em;
                border: 2px solid #0047ba;
                border-radius: 50%;
            }
        }
    }

    ol {
        counter-reset: ol;

        li {
            position: relative;
            margin: 3.2rem 0;
            padding-left: 4rem;

            &:before {
                content: "0" counter(ol);
                counter-increment: ol;
                position: absolute;
                left: 0;
                top: 0;
                color: #0047ba;
            }
        }
    }

    b,
    strong {
        font-weight: bold;
    }

    .text-m {
        margin: 3.2rem 0;
        font-size: 2.2rem;
    }

    .text-l {
        margin: 5.6rem 0;
        font-size: 3.2rem;
        font-weight: 500;
    }
}

@media (max-width: 999.98px) {
    .article-default {
        font-size: 1.2rem;

        ul {
            margin: 3rem 0;
            column-count: 1;

            &.ul-closer {
                li {
                    padding-bottom: 1.6rem;
                }
            }

            li {
                padding-left: 2.6rem;

                &:last-child {
                    margin-bottom: 0;
                }
                &:before {
                }
            }
        }

        ol {
            li {
                margin: 1.6rem 0;
                padding-left: 2.6rem;
            }
        }

        .text-m {
            margin: 2.4rem 0;
            font-size: 1.4rem;
        }

        .text-l {
            margin: 3rem 0;
            font-size: 2rem;
        }
    }
}
