.map-location {
    position: relative;
    padding-top: 47.43%;

    &__box {
        @include fill;
        border-radius: 20px;
    }

    &__icon {
        box-sizing: content-box;
        background: #ff6100;
        border: 4px solid #fff;
        border-radius: 50%;
        width: 40px !important;
        height: 40px !important;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #fff;

        .icon {
            font-size: 18px;
        }
    }

    &__logo {
        width: 120px !important;
        height: 120px !important;
        background: url("../img/map-location/logo.svg") no-repeat 50% 50% /
            contain;
    }
}
