.map-contacts {
    position: relative;
    background: #f3f3f3;
    border-radius: 16px;
    overflow: hidden;

    &:before {
        content: " ";
        padding-top: 56.41%;
        display: block;
    }

    &__box {
        @include position-fill;

        [class*="ymaps-2"][class*="copyrights-pane"] {
            display: none !important;
        }
        [class*="ymaps-2"][class*="controls-pane"] {
            right: 40px !important;
            top: 50% !important;
            transform: translateY(-50%);
            left: auto !important;
            width: auto !important;
        }

        [class*="ymaps-2"][class*="controls__control"] {
            inset: 0 !important;
            position: static !important;
        }
    }

    &__btn-zoom-in,
    &__btn-zoom-out {
        cursor: pointer;
        background: #fff;
        border-radius: 50%;
        font-size: 62px;
        width: 1em;
        height: 1em;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #ff6100;

        &:first-child {
            margin-bottom: 12px;
        }

        .icon {
            font-size: calc(22 / 62) + em;
        }
    }
}
