.tags-zhk {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;

    &__item {
        padding: 10px 20px;
        border-radius: 10em;
        background: #ffffff0d;
        display: flex;
        gap: 16px;

        &--address {
            margin-left: auto;
        }
    }

    &__text {
        display: flex;
        align-items: center;
        gap: 10px;
        font-size: 16px;
        font-weight: 500;
        line-height: calc(19.2 / 16);
        color: #fff;

        &--opacity {
            opacity: 0.7;
        }
    }

    &__status {
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background: #32ce18;
    }

    .icon {
        font-size: 16px;
    }
}

@media (max-width: 999.98px) {
    .tags-zhk {
        gap: 4px;

        &__item {
            padding: 6px 12px;

            &--address {
                order: -1;
                margin-left: 0;
            }
        }

        &__text {
            font-size: 10px;

            &--opacity {
            }
        }

        &__status {
        }

        .icon {
        }
    }
}
