.card-video {
    position: relative;

    &__image {
        padding-top: 82.9%;
        border-radius: 16px;
        overflow: hidden;
    }

    &__btn-play {
        @include position-center;

        a,
        button {
            font-size: clamp(50px, 15vw, 150px);
        }
    }
}

@media (max-width: 999.98px) {
    .card-video {
        &__image {
            border-radius: 10px;
        }

        &__btn-play {
            @include position-center;

            a,
            button {
            }
        }
    }
}
