.card-person {
    position: relative;

    &__photo {
        padding-top: 100%;

        img {
            border-radius: 16px;
        }
    }

    &__btn-expand {
        position: absolute;
        bottom: 8px;
        right: 8px;
    }
}

@media (max-width: 999.98px) {
    .card-person {
        &__photo {
            img {
                border-radius: 10px;
            }
        }

        &__btn-expand {
            display: none;
        }
    }
}
