.card-doc {
    background: #fff;
    border: 1px solid #0000001a;
    border-radius: 16px;
    padding: 32px;
    display: flex;
    flex-direction: column;

    &__header {
        margin-bottom: 44px;
        display: flex;
        align-items: center;
        gap: 12px;
        font-size: 24px;
        font-weight: 700;
        line-height: calc(26.4 / 24);

        .icon {
            font-size: calc(26 / 24) + em;
            opacity: 0.3;
        }
    }

    &__btn-download {
        margin-top: auto;
    }
}

@media (max-width: 999.98px) {
    .card-doc {
        padding: 20px;

        &__header {
            margin-bottom: 40px;
            font-size: 18px;

            .icon {
            }
        }

        &__btn-download {
        }
    }
}
