<!DOCTYPE html>
<html lang="ru" class="webp">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <!-- @@placeholder = title -->

        <!-- @@placeholder = styles -->
        <link
            rel="stylesheet"
            href="https://transuyshstroy.netlify.app/css/style.min.css?_v=20240320205057"
        />
        <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
        />
        <link rel="stylesheet" href="css/main.css" />

        <script>
            var baseUrl = "./js/";
        </script>
    </head>

    <body>
        <!-- @@placeholder = content -->

        <script src="https://cdn.jsdelivr.net/npm/jquery@3.7.0/dist/jquery.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

        <!-- @@placeholder = scripts -->
        <script src="js/main.js"></script>

        <div id="notify" class="notify"></div>

        <!-- #pagelist -->
        <link
            rel="stylesheet"
            href="https://libs.ildar-meyker.ru/pagelist/css/pagelist.min.css"
        />
        <script src="https://libs.ildar-meyker.ru/pagelist/js/pagelist.min.js"></script>
    </body>
</html>
