.slider-people {
    position: relative;

    .swiper {
    }
    .swiper-wrapper {
    }
    .swiper-slide {
    }
}
@media (max-width: 999.98px) {
    .slider-people {
        overflow: auto;
        margin: 0 -20px;
        padding: 0 20px;

        .swiper {
            overflow: visible;
        }
        .swiper-wrapper {
        }
        .swiper-slide {
            width: auto;
            display: inline-block;
            padding-right: 10px;

            &:last-child {
                padding-right: 20px;
            }
        }
    }
}
