.slider-news {
    --gap: 16px;

    .swiper {
        margin: 0 calc(var(--gap) / 2 * -1);
    }

    .swiper-slide {
        width: 33.33%;
        padding: 0 calc(var(--gap) / 2);
        display: flex;
        flex-direction: column;
        height: auto;

        > * {
            flex-grow: 1;
        }
    }
}
