.slider-menu {
    transition: all 0.2s;
    overflow: auto;
    background: #dedede0d;
    backdrop-filter: blur(5px);
    border-radius: 10em;

    .swiper {
    }
    .swiper-wrapper {
    }

    .swiper-slide {
        width: auto;
        margin: 0 -14px;

        &:last-child {
            margin-right: 0;
        }

        &:first-child {
            margin-left: 0;
        }

        &.active {
            margin: 0;

            a {
                background: #fff;
                color: #000000;
            }
        }
    }

    a {
        display: block;
        padding: 0 32px;
        height: 60px;
        border-radius: 10em;
        font-size: 16px;
        font-weight: 500;
        line-height: 60px;
        white-space: nowrap;
        color: #fff;

        &:hover {
        }
    }

    &--dark {
        background: #0000004d;
    }
}

@media (max-width: 999.98px) {
    .slider-menu {
        .swiper {
        }

        .swiper-wrapper {
        }

        .swiper-slide {
            margin: 0;

            &:last-child {
            }

            &:first-child {
            }

            &.active {
                a {
                }
            }
        }

        a {
            padding: 0 12px;
            height: 45px;
            line-height: 45px;
            font-size: 14px;

            &:hover {
            }
        }

        &--dark {
        }
    }
}
