.panel-floor {
    background: #ff6100;
    border-radius: 16px;
    padding: 24px;
    color: #fff;

    &__header {
        margin-bottom: 50px;
        display: flex;
        justify-content: space-between;
        gap: 20px;

        .btn-plus {
            font-size: 48px;
        }
    }

    &__about {
        display: flex;
        gap: 3px;
    }

    &__number {
        font-size: 100px;
        font-weight: 500;
        line-height: 0.7;
    }

    &__desc {
        font-size: 14px;
        font-weight: 500;
        line-height: 1.2;
    }

    &__floor {
    }

    &__available {
        opacity: 0.7;
        margin-top: 8px;
    }

    &__footer {
        margin-top: 50px;
    }

    &__label {
        opacity: 0.4;
        font-size: 14px;
        font-weight: 500;
        line-height: 1.2;
    }

    &__time {
        font-size: 18px;
        font-weight: 500;
        line-height: 1.2;
        margin-top: 8px;
    }

    &--white {
        background: #fff;
        color: #000000;

        .panel-floor__number,
        .panel-floor__floor {
            color: #ff6100;
        }
    }
}
