.nav-tabs {
    ul {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
    }

    li {
        &.active {
            a {
                font-weight: 600;
                color: #204a8f;
            }
        }
    }

    a {
        display: block;
        font-size: 16px;
        text-align: center;
        color: #a0a5b9;

        &:hover {
            color: darken(#a0a5b9, 10%);
        }
    }
}
