.props-nums {
    display: flex;
    gap: 54px;

    &__item {
    }

    &__value {
        font-size: 100px;
        font-weight: 500;
        line-height: 0.7;

        sub {
            font-size: calc(24 / 100) + em;
        }
    }

    &__label {
        margin-top: 16px;
        font-size: 16px;
        font-weight: 500;
        line-height: calc(22.4 / 16) + em;
    }
}
