<article class="card-camera">
    <div class="card-camera__picture">
        <div class="image-box card-camera__image">
            <img src="https://loremflickr.com/500/500/construction?random=1" />
        </div>
        <div class="card-camera__btn-play">
            <button class="btn-camera">
                <svg class="icon">
                    <use xlink:href="img/icons/general/sprite.svg#camera"></use>
                </svg>
            </button>
        </div>
    </div>
    <div class="card-camera__desc">Камера 1</div>
</article>
