<article class="card-payway">
    <div class="card-payway__header">
        <div class="card-payway__icon">
            <svg class="icon">
                <use xlink:href="img/icons/payways/sprite.svg#1"></use>
            </svg>
        </div>

        <div class="card-payway__h1">Рассрочка</div>
    </div>
    <div class="card-payway__desc">
        Наши объекты — лучшее место для счастливой жизни, где царит
        добрососедство, уют и безопасность
    </div>
    <div class="card-payway__btn-apply">
        <button class="btn-apply">
            <span>Отправить заявку</span>
            <svg class="icon">
                <use xlink:href="img/icons/general/sprite.svg#plus"></use>
            </svg>
        </button>
    </div>
</article>
