<article class="card-news">
    <div class="card-news__body">
        <div class="card-news__tags">
            <div class="card-news__tags__item">Новости</div>
        </div>

        <h2 class="card-news__h1">
            <a href="#"
                >Старт продаж квартир в новых корпусах проекта «Зелёный парк»</a
            >
        </h2>
        <div class="card-news__desc">
            Мы строим дома для людей, в которых хочется жить. Возводим
            функциональные предприятия, в которых комфортно работать.
        </div>
    </div>
    <div class="card-news__footer">
        <time class="card-news__date">
            <div class="card-news__date__day">18</div>
            <div class="card-news__date__month">
                декабрь <br />
                2023
            </div>
        </time>
        <div>
            <button class="btn-plus">
                <svg class="icon">
                    <use xlink:href="img/icons/general/sprite.svg#plus"></use>
                </svg>
            </button>
        </div>
    </div>
</article>
