<div class="grid-people">
    <div class="active">
        <article class="card-person">
            <div class="image-box card-person__photo">
                <img src="img/temp/people/1.jpeg" />
            </div>
            <div class="card-person__btn-expand">
                <button class="btn-expand"></button>
            </div>
        </article>
    </div>

    <div>
        <article class="card-person">
            <div class="image-box card-person__photo">
                <img src="img/temp/people/2.jpeg" />
            </div>
            <div class="card-person__btn-expand">
                <button class="btn-expand"></button>
            </div>
        </article>
    </div>

    <div>
        <article class="card-person">
            <div class="image-box card-person__photo">
                <img src="img/temp/people/3.jpeg" />
            </div>
            <div class="card-person__btn-expand">
                <button class="btn-expand"></button>
            </div>
        </article>
    </div>

    <div>
        <article class="card-person">
            <div class="image-box card-person__photo">
                <img src="img/temp/people/4.jpeg" />
            </div>
            <div class="card-person__btn-expand">
                <button class="btn-expand"></button>
            </div>
        </article>
    </div>

    <div>
        <article class="card-person">
            <div class="image-box card-person__photo">
                <img src="img/temp/people/1.jpeg" />
            </div>
            <div class="card-person__btn-expand">
                <button class="btn-expand"></button>
            </div>
        </article>
    </div>

    <div>
        <article class="card-person">
            <div class="image-box card-person__photo">
                <img src="img/temp/people/2.jpeg" />
            </div>
            <div class="card-person__btn-expand">
                <button class="btn-expand"></button>
            </div>
        </article>
    </div>

    <div>
        <article class="card-person">
            <div class="image-box card-person__photo">
                <img src="img/temp/people/3.jpeg" />
            </div>
            <div class="card-person__btn-expand">
                <button class="btn-expand"></button>
            </div>
        </article>
    </div>

    <div>
        <article class="card-person">
            <div class="image-box card-person__photo">
                <img src="img/temp/people/4.jpeg" />
            </div>
            <div class="card-person__btn-expand">
                <button class="btn-expand"></button>
            </div>
        </article>
    </div>

    <div>
        <article class="card-person">
            <div class="image-box card-person__photo">
                <img src="img/temp/people/1.jpeg" />
            </div>
            <div class="card-person__btn-expand">
                <button class="btn-expand"></button>
            </div>
        </article>
    </div>

    <div>
        <article class="card-person">
            <div class="image-box card-person__photo">
                <img src="img/temp/people/2.jpeg" />
            </div>
            <div class="card-person__btn-expand">
                <button class="btn-expand"></button>
            </div>
        </article>
    </div>

    <div>
        <article class="card-person">
            <div class="image-box card-person__photo">
                <img src="img/temp/people/3.jpeg" />
            </div>
            <div class="card-person__btn-expand">
                <button class="btn-expand"></button>
            </div>
        </article>
    </div>

    <div>
        <article class="card-person">
            <div class="image-box card-person__photo">
                <img src="img/temp/people/4.jpeg" />
            </div>
            <div class="card-person__btn-expand">
                <button class="btn-expand"></button>
            </div>
        </article>
    </div>

    <div>
        <article class="card-person">
            <div class="image-box card-person__photo">
                <img src="img/temp/people/1.jpeg" />
            </div>
            <div class="card-person__btn-expand">
                <button class="btn-expand"></button>
            </div>
        </article>
    </div>

    <div>
        <article class="card-person">
            <div class="image-box card-person__photo">
                <img src="img/temp/people/2.jpeg" />
            </div>
            <div class="card-person__btn-expand">
                <button class="btn-expand"></button>
            </div>
        </article>
    </div>

    <div>
        <article class="card-person">
            <div class="image-box card-person__photo">
                <img src="img/temp/people/3.jpeg" />
            </div>
            <div class="card-person__btn-expand">
                <button class="btn-expand"></button>
            </div>
        </article>
    </div>

    <div>
        <article class="card-person">
            <div class="image-box card-person__photo">
                <img src="img/temp/people/4.jpeg" />
            </div>
            <div class="card-person__btn-expand">
                <button class="btn-expand"></button>
            </div>
        </article>
    </div>
</div>
