<div class="grid-people">
    <div class="active">
        <article class="card-person" data-quote-id="1">
            <div class="image-box card-person__photo">
                <img src="img/temp/people/1.jpg" />
            </div>
            <div class="card-person__btn-expand">
                <button class="btn-expand"></button>
            </div>
        </article>
    </div>

    <div>
        <article class="card-person" data-quote-id="2">
            <div class="image-box card-person__photo">
                <img src="img/temp/people/2.jpg" />
            </div>
            <div class="card-person__btn-expand">
                <button class="btn-expand"></button>
            </div>
        </article>
    </div>

    <div>
        <article class="card-person" data-quote-id="3">
            <div class="image-box card-person__photo">
                <img src="img/temp/people/3.jpg" />
            </div>
            <div class="card-person__btn-expand">
                <button class="btn-expand"></button>
            </div>
        </article>
    </div>

    <div>
        <article class="card-person" data-quote-id="4">
            <div class="image-box card-person__photo">
                <img src="img/temp/people/4.jpg" />
            </div>
            <div class="card-person__btn-expand">
                <button class="btn-expand"></button>
            </div>
        </article>
    </div>

    <div>
        <article class="card-person" data-quote-id="5">
            <div class="image-box card-person__photo">
                <img src="img/temp/people/5.jpg" />
            </div>
            <div class="card-person__btn-expand">
                <button class="btn-expand"></button>
            </div>
        </article>
    </div>

    <div>
        <article class="card-person" data-quote-id="6">
            <div class="image-box card-person__photo">
                <img src="img/temp/people/6.jpg" />
            </div>
            <div class="card-person__btn-expand">
                <button class="btn-expand"></button>
            </div>
        </article>
    </div>

    <div>
        <article class="card-person" data-quote-id="7">
            <div class="image-box card-person__photo">
                <img src="img/temp/people/7.jpg" />
            </div>
            <div class="card-person__btn-expand">
                <button class="btn-expand"></button>
            </div>
        </article>
    </div>

    <div>
        <article class="card-person" data-quote-id="8">
            <div class="image-box card-person__photo">
                <img src="img/temp/people/8.jpg" />
            </div>
            <div class="card-person__btn-expand">
                <button class="btn-expand"></button>
            </div>
        </article>
    </div>

    <div>
        <article class="card-person" data-quote-id="9">
            <div class="image-box card-person__photo">
                <img src="img/temp/people/9.jpg" />
            </div>
            <div class="card-person__btn-expand">
                <button class="btn-expand"></button>
            </div>
        </article>
    </div>

    <div>
        <article class="card-person" data-quote-id="10">
            <div class="image-box card-person__photo">
                <img src="img/temp/people/10.jpg" />
            </div>
            <div class="card-person__btn-expand">
                <button class="btn-expand"></button>
            </div>
        </article>
    </div>

    <div>
        <article class="card-person" data-quote-id="11">
            <div class="image-box card-person__photo">
                <img src="img/temp/people/11.jpg" />
            </div>
            <div class="card-person__btn-expand">
                <button class="btn-expand"></button>
            </div>
        </article>
    </div>

    <div>
        <article class="card-person" data-quote-id="12">
            <div class="image-box card-person__photo">
                <img src="img/temp/people/12.jpg" />
            </div>
            <div class="card-person__btn-expand">
                <button class="btn-expand"></button>
            </div>
        </article>
    </div>

    <div>
        <article class="card-person" data-quote-id="13">
            <div class="image-box card-person__photo">
                <img src="img/temp/people/13.jpg" />
            </div>
            <div class="card-person__btn-expand">
                <button class="btn-expand"></button>
            </div>
        </article>
    </div>

    <div>
        <article class="card-person" data-quote-id="14">
            <div class="image-box card-person__photo">
                <img src="img/temp/people/14.jpg" />
            </div>
            <div class="card-person__btn-expand">
                <button class="btn-expand"></button>
            </div>
        </article>
    </div>

    <div>
        <article class="card-person" data-quote-id="15">
            <div class="image-box card-person__photo">
                <img src="img/temp/people/15.jpg" />
            </div>
            <div class="card-person__btn-expand">
                <button class="btn-expand"></button>
            </div>
        </article>
    </div>

    <div>
        <article class="card-person" data-quote-id="16">
            <div class="image-box card-person__photo">
                <img src="img/temp/people/16.jpg" />
            </div>
            <div class="card-person__btn-expand">
                <button class="btn-expand"></button>
            </div>
        </article>
    </div>
</div>
