<header class="header">
    <div class="container">
        <a href="#" class="header__logo">
            <svg width="145" height="65">
                <use xlink:href="../img/icons/icons.svg#logo"></use>
            </svg>
        </a>
        <div class="header__menu">
            <nav class="header__nav">
                <ul class="header__nav-list">
                    <li class="header__nav-item header__dropdown">
                        <a href="#">ЖК (Проекты)</a>
                        <span class="header__dropdown-inner">
                            <span class="header__dropdown-list">
                                <span class="header__dropdown-item">
                                    <a href="#" class="hover-link">
                                        <picture
                                            ><source
                                                srcset="
                                                    ../img/links/link-img-01.webp
                                                "
                                                type="image/webp" />
                                            <img
                                                src="../img/links/link-img-01.jpg"
                                                alt=""
                                        /></picture>
                                        <span>ЖК Привилегия</span>
                                    </a>
                                </span>
                                <span class="header__dropdown-item">
                                    <a href="#" class="hover-link">
                                        <picture
                                            ><source
                                                srcset="
                                                    ../img/links/link-img-02.webp
                                                "
                                                type="image/webp" />
                                            <img
                                                src="../img/links/link-img-02.jpg"
                                                alt=""
                                        /></picture>
                                        <span>ЖК Центр Парк</span>
                                    </a>
                                </span>
                                <span class="header__dropdown-item">
                                    <a href="#" class="hover-link">
                                        <picture
                                            ><source
                                                srcset="
                                                    ../img/links/link-img-03.webp
                                                "
                                                type="image/webp" />
                                            <img
                                                src="../img/links/link-img-03.jpg"
                                                alt=""
                                        /></picture>
                                        <span>ЖК Яковлева Роща</span>
                                    </a>
                                </span>
                                <span class="header__dropdown-item">
                                    <a href="#" class="hover-link">
                                        <picture
                                            ><source
                                                srcset="
                                                    ../img/links/link-img-04.webp
                                                "
                                                type="image/webp" />
                                            <img
                                                src="../img/links/link-img-04.jpg"
                                                alt=""
                                        /></picture>
                                        <span>мкр. Восточный</span>
                                    </a>
                                </span>
                                <span class="header__dropdown-item">
                                    <a href="#" class="hover-link">
                                        <picture
                                            ><source
                                                srcset="
                                                    ../img/links/link-img-05.webp
                                                "
                                                type="image/webp" />
                                            <img
                                                src="../img/links/link-img-05.jpg"
                                                alt=""
                                        /></picture>
                                        <span>ЖК Яковлева Роща</span>
                                    </a>
                                </span>
                            </span>
                        </span>
                    </li>
                    <li class="header__nav-item">
                        <a href="#">Ком.недвижимость </a>
                    </li>
                    <li class="header__nav-item">
                        <a href="#">Ипотека</a>
                    </li>
                    <li class="header__nav-item">
                        <a href="#">Сервисы</a>
                    </li>
                    <li class="header__nav-item">
                        <a href="#">О компании</a>
                    </li>
                    <li class="header__nav-item">
                        <a href="#">Контакты</a>
                    </li>
                    <li class="header__nav-item">
                        <a href="#">Медиа-центр</a>
                    </li>
                </ul>
            </nav>
            <address class="header__tel">
                <div class="header__tel-schedule">
                    Ежедневно с 9:00 &ndash; 19:00
                </div>
                <a href="#" class="header__tel-num hover-link"
                    ><span class="header__tel-num-accent">+7 (4722)</span>
                    78-97-56</a
                >
            </address>
            <div class="header__city">
                <div class="header__city-icon">
                    <svg width="16" height="16">
                        <use xlink:href="../img/icons/icons.svg#pin"></use>
                    </svg>
                </div>
                <div class="header__city-select">
                    <select id="city">
                        <option value="1">Белгород</option>
                        <option value="2">Казань</option>
                        <option value="3">Строитель</option>
                    </select>
                </div>
            </div>
            <a href="#" class="header__banner">
                <span class="header__banner-title"
                    >75 лучших новостроек города</span
                >
                <span
                    class="header__banner-icon btn btn--icon btn--white btn--circle"
                >
                    <svg width="22" height="22">
                        <use xlink:href="../img/icons/icons.svg#plus"></use>
                    </svg>
                </span>
            </a>
            <div class="header__socials socials">
                <div class="socials__title">Наши соц. сети:</div>
                <div class="socials__list">
                    <a href="#" class="socials__link socials__link--dark">
                        <svg width="16" height="16">
                            <use xlink:href="../img/icons/icons.svg#vk"></use>
                        </svg>
                    </a>
                    <a href="#" class="socials__link socials__link--dark">
                        <svg width="16" height="16">
                            <use
                                xlink:href="../img/icons/icons.svg#telegram"
                            ></use>
                        </svg>
                    </a>
                    <a href="#" class="socials__link socials__link--dark">
                        <svg width="16" height="16">
                            <use
                                xlink:href="../img/icons/icons.svg#insta"
                            ></use>
                        </svg>
                    </a>
                </div>
            </div>
        </div>
        <div class="header-action">
            <a href="#" class="header__fav-btn btn-round">
                <svg width="16" height="16">
                    <use xlink:href="../img/icons/icons.svg#fav"></use>
                </svg>
            </a>
            <button
                type="button"
                class="header__search-btn btn-round"
                aria-label="Поиск"
            >
                <svg width="16" height="16">
                    <use xlink:href="../img/icons/icons.svg#search"></use>
                </svg>
            </button>
            <button
                type="button"
                aria-label="Бургер меню"
                class="header__burger btn-round icon-menu"
            >
                <span></span>
                <span></span>
            </button>
        </div>
    </div>
</header>
