<section class="intro-zhk" id="intro-zhk">
    <div class="container">
        <div class="intro-zhk__h1">
            <img src="img/intro-zhk/text-zhk-tcentr-park.svg" alt="" />
        </div>

        <div class="intro-zhk__info">
            <ul class="tags-zhk">
                <li class="tags-zhk__item">
                    <div class="tags-zhk__text">от 10,4 млн.₽</div>
                </li>

                <li class="tags-zhk__item">
                    <div class="tags-zhk__text">
                        <svg class="icon">
                            <use
                                xlink:href="img/icons/general/sprite.svg#key"
                            ></use>
                        </svg>
                        <span>3 кв. 2024 г.</span>
                    </div>
                </li>

                <li class="tags-zhk__item">
                    <div class="tags-zhk__text">
                        <svg class="icon">
                            <use
                                xlink:href="img/icons/general/sprite.svg#bus"
                            ></use>
                        </svg>
                        <span>м. Аметьево</span>
                    </div>

                    <div class="tags-zhk__text tags-zhk__text--opacity">
                        <svg class="icon">
                            <use
                                xlink:href="img/icons/general/sprite.svg#walk"
                            ></use>
                        </svg>
                        <span>3 мин.</span>
                    </div>
                </li>

                <li class="tags-zhk__item">
                    <div class="tags-zhk__text">
                        <div class="tags-zhk__status"></div>
                        <span>Идут продажи</span>
                    </div>
                </li>

                <li class="tags-zhk__item tags-zhk__item--address">
                    <div class="tags-zhk__text">
                        <svg class="icon">
                            <use
                                xlink:href="img/icons/general/sprite.svg#location"
                            ></use>
                        </svg>
                        <span>ул. Попова 31</span>
                    </div>
                </li>
            </ul>
        </div>
    </div>

    <div class="image-box intro-zhk__image">
        <img src="img/intro-zhk/1.jpg" />
        <div class="intro-zhk__floors">
            <div
                class="intro-zhk__floors__item"
                data-target="#intro-zhk__panel-11"
            ></div>
            <div
                class="intro-zhk__floors__item"
                data-target="#intro-zhk__panel-10"
            ></div>
            <div
                class="intro-zhk__floors__item"
                data-target="#intro-zhk__panel-9"
            ></div>
            <div
                class="intro-zhk__floors__item"
                data-target="#intro-zhk__panel-8"
            ></div>
            <div
                class="intro-zhk__floors__item"
                data-target="#intro-zhk__panel-7"
            ></div>
            <div
                class="intro-zhk__floors__item"
                data-target="#intro-zhk__panel-6"
            ></div>
            <div
                class="intro-zhk__floors__item"
                data-target="#intro-zhk__panel-5"
            ></div>
            <div
                class="intro-zhk__floors__item"
                data-target="#intro-zhk__panel-4"
            ></div>
            <div
                class="intro-zhk__floors__item"
                data-target="#intro-zhk__panel-3"
            ></div>
            <div
                class="intro-zhk__floors__item"
                data-target="#intro-zhk__panel-2"
            ></div>
            <div
                class="intro-zhk__floors__item"
                data-target="#intro-zhk__panel-1"
            ></div>
        </div>
    </div>

    <div class="intro-zhk__menu" id="intro-zhk__menu">
        <div class="container">
            <div class="intro-zhk__menu__inner">
                <div class="intro-zhk__menu__col-menu">
                    <!-- @@include = ./slider-menu.html -->
                </div>

                <div>
                    <button class="btn-heart">
                        <svg class="icon">
                            <use
                                xlink:href="img/icons/general/sprite.svg#heart"
                            ></use>
                        </svg>
                    </button>
                </div>

                <div class="d-sm-none">
                    <button class="btn-select">Выбрать квартиру</button>
                </div>

                <div class="d-lg-none intro-zhk__menu__btn-plus">
                    <button class="btn-plus btn-plus--orange">
                        <svg class="icon">
                            <use
                                xlink:href="img/icons/general/sprite.svg#plus"
                            ></use>
                        </svg>
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="intro-zhk__btn-down">
        <button class="btn-down">
            <svg class="icon">
                <use xlink:href="img/icons/general/sprite.svg#arrow-down"></use>
            </svg>
        </button>
    </div>

    <svg class="intro-zhk__svg">
        <clipPath id="floor-clip-path" clipPathUnits="objectBoundingBox">
            <path
                d="M0.233,0.023 L0.007,0.519 V1 L0.233,0.589 L0.627,0.729 L0.794,0.562 L1,0.62 V0.089 L0.794,0.008 L0.627,0.155 L0.233,0.023"
            ></path>
        </clipPath>
    </svg>

    <div class="intro-zhk__panel" id="intro-zhk__panel-11">
        <a href="#" class="panel-floor">
            <div class="panel-floor__header">
                <div class="panel-floor__about">
                    <div class="panel-floor__number">11</div>
                    <div class="panel-floor__desc">
                        <div class="panel-floor__floor">этаж</div>
                        <div class="panel-floor__available">
                            доступна 21 квартира
                        </div>
                    </div>
                </div>
                <div>
                    <button class="btn-plus btn-plus--white d-sm-none">
                        <svg class="icon">
                            <use
                                xlink:href="img/icons/general/sprite.svg#plus"
                            ></use>
                        </svg>
                    </button>
                    <button
                        class="btn-plus btn-plus--white d-lg-none intro-zhk__btn-close"
                    >
                        <svg class="icon">
                            <use
                                xlink:href="img/icons/general/sprite.svg#close"
                            ></use>
                        </svg>
                    </button>
                </div>
            </div>

            <table class="table-flats">
                <tbody>
                    <tr>
                        <td>1 комнатная</td>
                        <td>2</td>
                        <td>от 10 909 698 ₽</td>
                    </tr>
                    <tr>
                        <td>2 комнатная</td>
                        <td>11</td>
                        <td>от 9 412 800 ₽</td>
                    </tr>

                    <tr>
                        <td>3 комнатная</td>
                        <td>3</td>
                        <td>от 11 260 350 ₽</td>
                    </tr>

                    <tr>
                        <td>4 комнатная</td>
                        <td>5</td>
                        <td>от 18 824 559 ₽</td>
                    </tr>
                </tbody>
            </table>

            <div class="panel-floor__footer">
                <div class="panel-floor__label">План сдачи квартир:</div>
                <div class="panel-floor__time">3 квартал 2024 года</div>
            </div>
        </a>
    </div>

    <div class="intro-zhk__panel" id="intro-zhk__panel-10">
        <a href="#" class="panel-floor">
            <div class="panel-floor__header">
                <div class="panel-floor__about">
                    <div class="panel-floor__number">10</div>
                    <div class="panel-floor__desc">
                        <div class="panel-floor__floor">этаж</div>
                        <div class="panel-floor__available">
                            доступна 21 квартира
                        </div>
                    </div>
                </div>
                <div>
                    <button class="btn-plus btn-plus--white d-sm-none">
                        <svg class="icon">
                            <use
                                xlink:href="img/icons/general/sprite.svg#plus"
                            ></use>
                        </svg>
                    </button>
                    <button
                        class="btn-plus btn-plus--white d-lg-none intro-zhk__btn-close"
                    >
                        <svg class="icon">
                            <use
                                xlink:href="img/icons/general/sprite.svg#close"
                            ></use>
                        </svg>
                    </button>
                </div>
            </div>

            <table class="table-flats">
                <tbody>
                    <tr>
                        <td>1 комнатная</td>
                        <td>2</td>
                        <td>от 10 909 698 ₽</td>
                    </tr>
                    <tr>
                        <td>2 комнатная</td>
                        <td>11</td>
                        <td>от 9 412 800 ₽</td>
                    </tr>
                </tbody>
            </table>

            <div class="panel-floor__footer">
                <div class="panel-floor__label">План сдачи квартир:</div>
                <div class="panel-floor__time">3 квартал 2024 года</div>
            </div>
        </a>
    </div>

    <div class="intro-zhk__panel" id="intro-zhk__panel-9">
        <a href="#" class="panel-floor">
            <div class="panel-floor__header">
                <div class="panel-floor__about">
                    <div class="panel-floor__number">9</div>
                    <div class="panel-floor__desc">
                        <div class="panel-floor__floor">этаж</div>
                        <div class="panel-floor__available">
                            доступна 21 квартира
                        </div>
                    </div>
                </div>
                <div>
                    <button class="btn-plus btn-plus--white d-sm-none">
                        <svg class="icon">
                            <use
                                xlink:href="img/icons/general/sprite.svg#plus"
                            ></use>
                        </svg>
                    </button>
                    <button
                        class="btn-plus btn-plus--white d-lg-none intro-zhk__btn-close"
                    >
                        <svg class="icon">
                            <use
                                xlink:href="img/icons/general/sprite.svg#close"
                            ></use>
                        </svg>
                    </button>
                </div>
            </div>

            <table class="table-flats">
                <tbody>
                    <tr>
                        <td>1 комнатная</td>
                        <td>2</td>
                        <td>от 10 909 698 ₽</td>
                    </tr>
                    <tr>
                        <td>2 комнатная</td>
                        <td>11</td>
                        <td>от 9 412 800 ₽</td>
                    </tr>
                </tbody>
            </table>

            <div class="panel-floor__footer">
                <div class="panel-floor__label">План сдачи квартир:</div>
                <div class="panel-floor__time">3 квартал 2024 года</div>
            </div>
        </a>
    </div>

    <div class="intro-zhk__panel" id="intro-zhk__panel-8">
        <a href="#" class="panel-floor">
            <div class="panel-floor__header">
                <div class="panel-floor__about">
                    <div class="panel-floor__number">8</div>
                    <div class="panel-floor__desc">
                        <div class="panel-floor__floor">этаж</div>
                        <div class="panel-floor__available">
                            доступна 21 квартира
                        </div>
                    </div>
                </div>
                <div>
                    <button class="btn-plus btn-plus--white d-sm-none">
                        <svg class="icon">
                            <use
                                xlink:href="img/icons/general/sprite.svg#plus"
                            ></use>
                        </svg>
                    </button>
                    <button
                        class="btn-plus btn-plus--white d-lg-none intro-zhk__btn-close"
                    >
                        <svg class="icon">
                            <use
                                xlink:href="img/icons/general/sprite.svg#close"
                            ></use>
                        </svg>
                    </button>
                </div>
            </div>

            <table class="table-flats">
                <tbody>
                    <tr>
                        <td>1 комнатная</td>
                        <td>2</td>
                        <td>от 10 909 698 ₽</td>
                    </tr>
                    <tr>
                        <td>2 комнатная</td>
                        <td>11</td>
                        <td>от 9 412 800 ₽</td>
                    </tr>
                </tbody>
            </table>

            <div class="panel-floor__footer">
                <div class="panel-floor__label">План сдачи квартир:</div>
                <div class="panel-floor__time">3 квартал 2024 года</div>
            </div>
        </a>
    </div>

    <div class="intro-zhk__panel" id="intro-zhk__panel-7">
        <a href="#" class="panel-floor">
            <div class="panel-floor__header">
                <div class="panel-floor__about">
                    <div class="panel-floor__number">7</div>
                    <div class="panel-floor__desc">
                        <div class="panel-floor__floor">этаж</div>
                        <div class="panel-floor__available">
                            доступна 21 квартира
                        </div>
                    </div>
                </div>
                <div>
                    <button class="btn-plus btn-plus--white d-sm-none">
                        <svg class="icon">
                            <use
                                xlink:href="img/icons/general/sprite.svg#plus"
                            ></use>
                        </svg>
                    </button>
                    <button
                        class="btn-plus btn-plus--white d-lg-none intro-zhk__btn-close"
                    >
                        <svg class="icon">
                            <use
                                xlink:href="img/icons/general/sprite.svg#close"
                            ></use>
                        </svg>
                    </button>
                </div>
            </div>

            <table class="table-flats">
                <tbody>
                    <tr>
                        <td>1 комнатная</td>
                        <td>2</td>
                        <td>от 10 909 698 ₽</td>
                    </tr>
                    <tr>
                        <td>2 комнатная</td>
                        <td>11</td>
                        <td>от 9 412 800 ₽</td>
                    </tr>
                </tbody>
            </table>

            <div class="panel-floor__footer">
                <div class="panel-floor__label">План сдачи квартир:</div>
                <div class="panel-floor__time">3 квартал 2024 года</div>
            </div>
        </a>
    </div>

    <div class="intro-zhk__panel" id="intro-zhk__panel-6">
        <a href="#" class="panel-floor">
            <div class="panel-floor__header">
                <div class="panel-floor__about">
                    <div class="panel-floor__number">6</div>
                    <div class="panel-floor__desc">
                        <div class="panel-floor__floor">этаж</div>
                        <div class="panel-floor__available">
                            доступна 21 квартира
                        </div>
                    </div>
                </div>
                <div>
                    <button class="btn-plus btn-plus--white d-sm-none">
                        <svg class="icon">
                            <use
                                xlink:href="img/icons/general/sprite.svg#plus"
                            ></use>
                        </svg>
                    </button>
                    <button
                        class="btn-plus btn-plus--white d-lg-none intro-zhk__btn-close"
                    >
                        <svg class="icon">
                            <use
                                xlink:href="img/icons/general/sprite.svg#close"
                            ></use>
                        </svg>
                    </button>
                </div>
            </div>

            <table class="table-flats">
                <tbody>
                    <tr>
                        <td>1 комнатная</td>
                        <td>2</td>
                        <td>от 10 909 698 ₽</td>
                    </tr>
                    <tr>
                        <td>2 комнатная</td>
                        <td>11</td>
                        <td>от 9 412 800 ₽</td>
                    </tr>
                </tbody>
            </table>

            <div class="panel-floor__footer">
                <div class="panel-floor__label">План сдачи квартир:</div>
                <div class="panel-floor__time">3 квартал 2024 года</div>
            </div>
        </a>
    </div>

    <div class="intro-zhk__panel" id="intro-zhk__panel-5">
        <a href="#" class="panel-floor">
            <div class="panel-floor__header">
                <div class="panel-floor__about">
                    <div class="panel-floor__number">5</div>
                    <div class="panel-floor__desc">
                        <div class="panel-floor__floor">этаж</div>
                        <div class="panel-floor__available">
                            доступна 21 квартира
                        </div>
                    </div>
                </div>
                <div>
                    <button class="btn-plus btn-plus--white d-sm-none">
                        <svg class="icon">
                            <use
                                xlink:href="img/icons/general/sprite.svg#plus"
                            ></use>
                        </svg>
                    </button>
                    <button
                        class="btn-plus btn-plus--white d-lg-none intro-zhk__btn-close"
                    >
                        <svg class="icon">
                            <use
                                xlink:href="img/icons/general/sprite.svg#close"
                            ></use>
                        </svg>
                    </button>
                </div>
            </div>

            <table class="table-flats">
                <tbody>
                    <tr>
                        <td>1 комнатная</td>
                        <td>2</td>
                        <td>от 10 909 698 ₽</td>
                    </tr>
                    <tr>
                        <td>2 комнатная</td>
                        <td>11</td>
                        <td>от 9 412 800 ₽</td>
                    </tr>
                </tbody>
            </table>

            <div class="panel-floor__footer">
                <div class="panel-floor__label">План сдачи квартир:</div>
                <div class="panel-floor__time">3 квартал 2024 года</div>
            </div>
        </a>
    </div>

    <div class="intro-zhk__panel" id="intro-zhk__panel-4">
        <a href="#" class="panel-floor">
            <div class="panel-floor__header">
                <div class="panel-floor__about">
                    <div class="panel-floor__number">4</div>
                    <div class="panel-floor__desc">
                        <div class="panel-floor__floor">этаж</div>
                        <div class="panel-floor__available">
                            доступна 21 квартира
                        </div>
                    </div>
                </div>
                <div>
                    <button class="btn-plus btn-plus--white d-sm-none">
                        <svg class="icon">
                            <use
                                xlink:href="img/icons/general/sprite.svg#plus"
                            ></use>
                        </svg>
                    </button>
                    <button
                        class="btn-plus btn-plus--white d-lg-none intro-zhk__btn-close"
                    >
                        <svg class="icon">
                            <use
                                xlink:href="img/icons/general/sprite.svg#close"
                            ></use>
                        </svg>
                    </button>
                </div>
            </div>

            <table class="table-flats">
                <tbody>
                    <tr>
                        <td>1 комнатная</td>
                        <td>2</td>
                        <td>от 10 909 698 ₽</td>
                    </tr>
                    <tr>
                        <td>2 комнатная</td>
                        <td>11</td>
                        <td>от 9 412 800 ₽</td>
                    </tr>
                </tbody>
            </table>

            <div class="panel-floor__footer">
                <div class="panel-floor__label">План сдачи квартир:</div>
                <div class="panel-floor__time">3 квартал 2024 года</div>
            </div>
        </a>
    </div>

    <div class="intro-zhk__panel" id="intro-zhk__panel-3">
        <a href="#" class="panel-floor">
            <div class="panel-floor__header">
                <div class="panel-floor__about">
                    <div class="panel-floor__number">3</div>
                    <div class="panel-floor__desc">
                        <div class="panel-floor__floor">этаж</div>
                        <div class="panel-floor__available">
                            доступна 21 квартира
                        </div>
                    </div>
                </div>
                <div>
                    <button class="btn-plus btn-plus--white d-sm-none">
                        <svg class="icon">
                            <use
                                xlink:href="img/icons/general/sprite.svg#plus"
                            ></use>
                        </svg>
                    </button>
                    <button
                        class="btn-plus btn-plus--white d-lg-none intro-zhk__btn-close"
                    >
                        <svg class="icon">
                            <use
                                xlink:href="img/icons/general/sprite.svg#close"
                            ></use>
                        </svg>
                    </button>
                </div>
            </div>

            <table class="table-flats">
                <tbody>
                    <tr>
                        <td>1 комнатная</td>
                        <td>2</td>
                        <td>от 10 909 698 ₽</td>
                    </tr>
                    <tr>
                        <td>2 комнатная</td>
                        <td>11</td>
                        <td>от 9 412 800 ₽</td>
                    </tr>
                </tbody>
            </table>

            <div class="panel-floor__footer">
                <div class="panel-floor__label">План сдачи квартир:</div>
                <div class="panel-floor__time">3 квартал 2024 года</div>
            </div>
        </a>
    </div>

    <div class="intro-zhk__panel" id="intro-zhk__panel-2">
        <a href="#" class="panel-floor">
            <div class="panel-floor__header">
                <div class="panel-floor__about">
                    <div class="panel-floor__number">2</div>
                    <div class="panel-floor__desc">
                        <div class="panel-floor__floor">этаж</div>
                        <div class="panel-floor__available">
                            доступна 21 квартира
                        </div>
                    </div>
                </div>
                <div>
                    <button class="btn-plus btn-plus--white d-sm-none">
                        <svg class="icon">
                            <use
                                xlink:href="img/icons/general/sprite.svg#plus"
                            ></use>
                        </svg>
                    </button>
                    <button
                        class="btn-plus btn-plus--white d-lg-none intro-zhk__btn-close"
                    >
                        <svg class="icon">
                            <use
                                xlink:href="img/icons/general/sprite.svg#close"
                            ></use>
                        </svg>
                    </button>
                </div>
            </div>

            <table class="table-flats">
                <tbody>
                    <tr>
                        <td>1 комнатная</td>
                        <td>2</td>
                        <td>от 10 909 698 ₽</td>
                    </tr>
                    <tr>
                        <td>2 комнатная</td>
                        <td>11</td>
                        <td>от 9 412 800 ₽</td>
                    </tr>
                </tbody>
            </table>

            <div class="panel-floor__footer">
                <div class="panel-floor__label">План сдачи квартир:</div>
                <div class="panel-floor__time">3 квартал 2024 года</div>
            </div>
        </a>
    </div>

    <div class="intro-zhk__panel" id="intro-zhk__panel-1">
        <a href="#" class="panel-floor">
            <div class="panel-floor__header">
                <div class="panel-floor__about">
                    <div class="panel-floor__number">1</div>
                    <div class="panel-floor__desc">
                        <div class="panel-floor__floor">этаж</div>
                        <div class="panel-floor__available">
                            доступна 21 квартира
                        </div>
                    </div>
                </div>
                <div>
                    <button class="btn-plus btn-plus--white d-sm-none">
                        <svg class="icon">
                            <use
                                xlink:href="img/icons/general/sprite.svg#plus"
                            ></use>
                        </svg>
                    </button>
                    <button
                        class="btn-plus btn-plus--white d-lg-none intro-zhk__btn-close"
                    >
                        <svg class="icon">
                            <use
                                xlink:href="img/icons/general/sprite.svg#close"
                            ></use>
                        </svg>
                    </button>
                </div>
            </div>

            <table class="table-flats">
                <tbody>
                    <tr>
                        <td>1 комнатная</td>
                        <td>2</td>
                        <td>от 10 909 698 ₽</td>
                    </tr>
                    <tr>
                        <td>2 комнатная</td>
                        <td>11</td>
                        <td>от 9 412 800 ₽</td>
                    </tr>
                </tbody>
            </table>

            <div class="panel-floor__footer">
                <div class="panel-floor__label">План сдачи квартир:</div>
                <div class="panel-floor__time">3 квартал 2024 года</div>
            </div>
        </a>
    </div>
</section>
