<nav class="nav-category">
    <ul>
        <li class="active">
            <a href="#">
                <span class="nav-category__icon">
                    <svg class="icon">
                        <use
                            xlink:href="img/icons/categories/sprite.svg#1"
                        ></use>
                    </svg>
                </span>
                <span>Все объекты</span>
            </a>
        </li>

        <li>
            <a href="#">
                <span class="nav-category__icon">
                    <svg class="icon">
                        <use
                            xlink:href="img/icons/categories/sprite.svg#2"
                        ></use>
                    </svg>
                </span>
                <span>Аптека</span>
            </a>
        </li>

        <li>
            <a href="#">
                <span class="nav-category__icon">
                    <svg class="icon">
                        <use
                            xlink:href="img/icons/categories/sprite.svg#3"
                        ></use>
                    </svg>
                </span>
                <span>Продукты</span>
            </a>
        </li>

        <li>
            <a href="#">
                <span class="nav-category__icon">
                    <svg class="icon">
                        <use
                            xlink:href="img/icons/categories/sprite.svg#4"
                        ></use></svg
                ></span>
                <span>Школа</span>
            </a>
        </li>

        <li>
            <a href="#">
                <span class="nav-category__icon">
                    <svg class="icon">
                        <use
                            xlink:href="img/icons/categories/sprite.svg#5"
                        ></use>
                    </svg>
                </span>
                <span>Детский сад</span>
            </a>
        </li>

        <li>
            <a href="#">
                <span class="nav-category__icon">
                    <svg class="icon">
                        <use
                            xlink:href="img/icons/categories/sprite.svg#6"
                        ></use>
                    </svg>
                </span>
                <span>Парк</span>
            </a>
        </li>

        <li>
            <a href="#">
                <span class="nav-category__icon">
                    <svg class="icon">
                        <use
                            xlink:href="img/icons/categories/sprite.svg#7"
                        ></use>
                    </svg>
                </span>
                <span>Метро</span>
            </a>
        </li>

        <li>
            <a href="#">
                <span class="nav-category__icon">
                    <svg class="icon">
                        <use
                            xlink:href="img/icons/categories/sprite.svg#8"
                        ></use>
                    </svg>
                </span>
                <span>Остановка</span>
            </a>
        </li>

        <li>
            <a href="#">
                <span class="nav-category__icon">
                    <svg class="icon">
                        <use
                            xlink:href="img/icons/categories/sprite.svg#9"
                        ></use>
                    </svg>
                </span>
                <span>Офис продаж</span>
            </a>
        </li>
    </ul>
</nav>
