<nav class="nav-category">
    <ul>
        <li class="active">
            <a href="#" data-filter="all">
                <span class="nav-category__icon">
                    <svg class="icon">
                        <use
                            xlink:href="img/icons/categories/sprite.svg#all"
                        ></use>
                    </svg>
                </span>
                <span>Все объекты</span>
            </a>
        </li>

        <li>
            <a href="#" data-filter="pharmacy">
                <span class="nav-category__icon">
                    <svg class="icon">
                        <use
                            xlink:href="img/icons/categories/sprite.svg#pharmacy"
                        ></use>
                    </svg>
                </span>
                <span>Аптека</span>
            </a>
        </li>

        <li>
            <a href="#" data-filter="food-store">
                <span class="nav-category__icon">
                    <svg class="icon">
                        <use
                            xlink:href="img/icons/categories/sprite.svg#food-store"
                        ></use>
                    </svg>
                </span>
                <span>Продукты</span>
            </a>
        </li>

        <li>
            <a href="#" data-filter="school">
                <span class="nav-category__icon">
                    <svg class="icon">
                        <use
                            xlink:href="img/icons/categories/sprite.svg#school"
                        ></use></svg
                ></span>
                <span>Школа</span>
            </a>
        </li>

        <li>
            <a href="#" data-filter="kindergarden">
                <span class="nav-category__icon">
                    <svg class="icon">
                        <use
                            xlink:href="img/icons/categories/sprite.svg#kindergarden"
                        ></use>
                    </svg>
                </span>
                <span>Детский сад</span>
            </a>
        </li>

        <li>
            <a href="#" data-filter="park">
                <span class="nav-category__icon">
                    <svg class="icon">
                        <use
                            xlink:href="img/icons/categories/sprite.svg#park"
                        ></use>
                    </svg>
                </span>
                <span>Парк</span>
            </a>
        </li>

        <li>
            <a href="#" data-filter="metro">
                <span class="nav-category__icon">
                    <svg class="icon">
                        <use
                            xlink:href="img/icons/categories/sprite.svg#metro"
                        ></use>
                    </svg>
                </span>
                <span>Метро</span>
            </a>
        </li>

        <li>
            <a href="#" data-filter="bus-stop">
                <span class="nav-category__icon">
                    <svg class="icon">
                        <use
                            xlink:href="img/icons/categories/sprite.svg#bus-stop"
                        ></use>
                    </svg>
                </span>
                <span>Остановка</span>
            </a>
        </li>

        <li>
            <a href="#" data-filter="sales-office">
                <span class="nav-category__icon">
                    <svg class="icon">
                        <use
                            xlink:href="img/icons/categories/sprite.svg#sales-office"
                        ></use>
                    </svg>
                </span>
                <span>Офис продаж</span>
            </a>
        </li>

        <li>
            <a href="#" data-filter="metro">
                <span class="nav-category__icon">
                    <svg class="icon">
                        <use
                            xlink:href="img/icons/categories/sprite.svg#metro"
                        ></use>
                    </svg>
                </span>
                <span>Метро</span>
            </a>
        </li>

        <li>
            <a href="#" data-filter="bus-stop">
                <span class="nav-category__icon">
                    <svg class="icon">
                        <use
                            xlink:href="img/icons/categories/sprite.svg#bus-stop"
                        ></use>
                    </svg>
                </span>
                <span>Остановка</span>
            </a>
        </li>

        <li>
            <a href="#" data-filter="sales-office">
                <span class="nav-category__icon">
                    <svg class="icon">
                        <use
                            xlink:href="img/icons/categories/sprite.svg#sales-office"
                        ></use>
                    </svg>
                </span>
                <span>Офис продаж</span>
            </a>
        </li>
    </ul>
</nav>
