<nav class="nav-circle">
    <ul>
        <li>
            <a href="#" class="js-slider-prev">
                <svg class="icon">
                    <use
                        xlink:href="img/icons/general/sprite.svg#arrow-left-bold"
                    ></use>
                </svg>
            </a>
        </li>
        <li>
            <a href="#" class="js-slider-next">
                <svg class="icon flip-x">
                    <use
                        xlink:href="img/icons/general/sprite.svg#arrow-left-bold"
                    ></use>
                </svg>
            </a>
        </li>
    </ul>
</nav>
