<article class="panel-person">
    <div class="image-box panel-person__photo">
        <img src="https://loremflickr.com/500/500/hipster-selfi?lock=1" />
    </div>
    <div class="panel-person__text">
        Я на последнем этаже живу. Специально купила квартиру на последнем,
        чтобы над головой соседи не топали. В квартире тепло и тихо, комфортно.
        Иногда настолько тепло, что приходится убавлять батареи. Короче, я всем
        довольна.
    </div>
    <div class="panel-person__name">Анастасия Петрова</div>
</article>
