<section class="section-video" id="section-video">
    <div class="container">
        <div class="section-video__center">
            <div class="slider-video">
                <div class="slider-video__wrapper">
                    <div class="slider-video__slide active">
                        <article class="card-video">
                            <div class="image-box card-video__image">
                                <img src="img/temp/section-tour/1.jpg" alt="" />
                            </div>
                            <div class="card-video__btn-play">
                                <a href="#" class="btn-play">
                                    <svg class="icon">
                                        <use
                                            xlink:href="img/icons/general/sprite.svg#play"
                                        ></use>
                                    </svg>
                                </a>
                            </div>
                        </article>
                    </div>
                    <div class="slider-video__slide">
                        <article class="card-video">
                            <div class="image-box card-video__image">
                                <img src="img/temp/section-tour/2.jpg" alt="" />
                            </div>
                            <div class="card-video__btn-play">
                                <a href="#" class="btn-play">
                                    <svg class="icon">
                                        <use
                                            xlink:href="img/icons/general/sprite.svg#play"
                                        ></use>
                                    </svg>
                                </a>
                            </div>
                        </article>
                    </div>
                    <div class="slider-video__slide">
                        <article class="card-video">
                            <div class="image-box card-video__image">
                                <img src="img/temp/section-tour/3.jpg" alt="" />
                            </div>
                            <div class="card-video__btn-play">
                                <a href="#" class="btn-play">
                                    <svg class="icon">
                                        <use
                                            xlink:href="img/icons/general/sprite.svg#play"
                                        ></use>
                                    </svg>
                                </a>
                            </div>
                        </article>
                    </div>
                    <div class="slider-video__slide">
                        <article class="card-video">
                            <div class="image-box card-video__image">
                                <img src="img/temp/section-tour/4.jpg" alt="" />
                            </div>
                            <div class="card-video__btn-play">
                                <a href="#" class="btn-play">
                                    <svg class="icon">
                                        <use
                                            xlink:href="img/icons/general/sprite.svg#play"
                                        ></use>
                                    </svg>
                                </a>
                            </div>
                        </article>
                    </div>
                    <div class="slider-video__slide">
                        <article class="card-video">
                            <div class="image-box card-video__image">
                                <img src="img/temp/section-tour/5.jpg" alt="" />
                            </div>
                            <div class="card-video__btn-play">
                                <a href="#" class="btn-play">
                                    <svg class="icon">
                                        <use
                                            xlink:href="img/icons/general/sprite.svg#play"
                                        ></use>
                                    </svg>
                                </a>
                            </div>
                        </article>
                    </div>
                </div>

                <div class="slider-video__ctrl">
                    <!-- @@include = ./nav-circle.html -->
                </div>
            </div>
            <div class="section-video__text">
                <img src="img/section-video/text-video.svg" alt="" />
            </div>
        </div>
    </div>
</section>
