<section class="rooms section p-0" data-role="tabs">
    <div class="rooms__container">
        <div class="rooms__head">
            <h2 class="rooms__title h3">Пример отделки</h2>
            <div class="rooms__tabs-controls tabs-controls">
                <button
                    type="button"
                    class="tabs-controls__item is-active"
                    data-tabs-control="guestroom"
                >
                    Гостинная
                </button>
                <button
                    type="button"
                    class="tabs-controls__item"
                    data-tabs-control="badroom"
                >
                    Спальня
                </button>
                <button
                    type="button"
                    class="tabs-controls__item"
                    data-tabs-control="kazan"
                >
                    Прихожая
                </button>
                <button
                    type="button"
                    class="tabs-controls__item"
                    data-tabs-control="kitchen"
                >
                    Кухня
                </button>
                <button
                    type="button"
                    class="tabs-controls__item"
                    data-tabs-control="wc"
                >
                    Санузел
                </button>
            </div>
        </div>
        <div class="rooms__content is-open" data-tabs-panel="guestroom">
            <div class="rooms__item">
                <div class="rooms__item-content">
                    <div class="rooms__item-img">
                        <picture
                            ><source
                                srcset="
                                    https://transuyshstroy.netlify.app/img/rooms/room-01.webp
                                "
                                type="image/webp" />
                            <img
                                src="https://transuyshstroy.netlify.app/img/rooms/room-01.jpg"
                                alt=""
                        /></picture>
                    </div>
                    <div class="rooms__item-details">
                        <div class="rooms__item-detail">
                            <div class="rooms__item-detail-point">
                                <span></span>
                            </div>
                            <div class="rooms__item-detail-text">
                                Обои под покраску
                            </div>
                        </div>
                        <div class="rooms__item-detail">
                            <div class="rooms__item-detail-point">
                                <span></span>
                            </div>
                            <div class="rooms__item-detail-text">Раковина</div>
                        </div>
                        <div class="rooms__item-detail">
                            <div class="rooms__item-detail-point">
                                <span></span>
                            </div>
                            <div class="rooms__item-detail-text">Шкаф</div>
                        </div>
                        <div class="rooms__item-detail">
                            <div class="rooms__item-detail-point">
                                <span></span>
                            </div>
                            <div class="rooms__item-detail-text">Плитка</div>
                        </div>
                        <div class="rooms__item-detail">
                            <div class="rooms__item-detail-point">
                                <span></span>
                            </div>
                            <div class="rooms__item-detail-text">Дверь</div>
                        </div>
                        <div
                            class="rooms__item-detail rooms__item-detail--right"
                        >
                            <div class="rooms__item-detail-point">
                                <span></span>
                            </div>
                            <div class="rooms__item-detail-text">Окно</div>
                        </div>
                        <div
                            class="rooms__item-detail rooms__item-detail--right"
                        >
                            <div class="rooms__item-detail-point">
                                <span></span>
                            </div>
                            <div class="rooms__item-detail-text">Диван</div>
                        </div>
                        <div
                            class="rooms__item-detail rooms__item-detail--right"
                        >
                            <div class="rooms__item-detail-point">
                                <span></span>
                            </div>
                            <div class="rooms__item-detail-text">Шкаф</div>
                        </div>
                        <div
                            class="rooms__item-detail rooms__item-detail--right"
                        >
                            <div class="rooms__item-detail-point">
                                <span></span>
                            </div>
                            <div class="rooms__item-detail-text">Потолок</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="rooms__content" data-tabs-panel="badroom">
            <div class="rooms__item">
                <div class="rooms__item-content">
                    <div class="rooms__item-img">
                        <picture
                            ><source
                                srcset="
                                    https://transuyshstroy.netlify.app/img/rooms/room-01.webp
                                "
                                type="image/webp" />
                            <img
                                src="https://transuyshstroy.netlify.app/img/rooms/room-01.jpg"
                                alt=""
                        /></picture>
                    </div>
                    <div class="rooms__item-details">
                        <div class="rooms__item-detail">
                            <div class="rooms__item-detail-point">
                                <span></span>
                            </div>
                            <div class="rooms__item-detail-text">
                                Обои под покраску 2
                            </div>
                        </div>
                        <div class="rooms__item-detail">
                            <div class="rooms__item-detail-point">
                                <span></span>
                            </div>
                            <div class="rooms__item-detail-text">Окно 2</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="rooms__content" data-tabs-panel="kitchen">
            <div class="rooms__item">
                <div class="rooms__item-content">
                    <div class="rooms__item-img">
                        <picture
                            ><source
                                srcset="
                                    https://transuyshstroy.netlify.app/img/rooms/room-01.webp
                                "
                                type="image/webp" />
                            <img
                                src="https://transuyshstroy.netlify.app/img/rooms/room-01.jpg"
                                alt=""
                        /></picture>
                    </div>
                    <div class="rooms__item-details">
                        <div class="rooms__item-detail">
                            <div class="rooms__item-detail-point">
                                <span></span>
                            </div>
                            <div class="rooms__item-detail-text">
                                Обои под покраску 4
                            </div>
                        </div>
                        <div class="rooms__item-detail">
                            <div class="rooms__item-detail-point">
                                <span></span>
                            </div>
                            <div class="rooms__item-detail-text">Окно 4</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="rooms__text">
            Все квартиры в ЖК «Центр Парк» сдаются с готовой отделкой. На полу
            будет качественный ламинат, на стенах — обои под покраску, во всей
            квартире — натяжной потолок, установлены межкомнатные двери и
            входные двери с дополнительной шумоизоляцией.
        </div>
    </div>
</section>
