<section class="section-offices" id="section-offices">
    <div class="container">
        <h2 class="section-offices__h1">Офисы продаж</h2>

        <nav class="section-offices__tabs">
            <div class="tabs-controls">
                <button
                    type="button"
                    class="tabs-controls__item is-active"
                    data-tabs-control="tab-1"
                >
                    Белгород
                </button>
                <button
                    type="button"
                    class="tabs-controls__item"
                    data-tabs-control="tab-2"
                >
                    Строитель
                </button>

                <button
                    type="button"
                    class="tabs-controls__item"
                    data-tabs-control="tab-3"
                >
                    Казань
                </button>
            </div>
        </nav>

        <div class="section-offices__map">
            <div
                class="map-contacts d-sm-none"
                data-id="map-contacts-1"
                data-center="[59.779398, 30.459721]"
                data-hint="г. Санкт-Петербург, Московское ш., д. 177, к. 2 лит. Ж"
                data-assets-url=""
            >
                <div class="map-contacts__box">
                    <div
                        id="map-contacts-1"
                        style="width: 100%; height: 100%"
                    ></div>
                </div>
            </div>

            <div class="section-offices__panel">
                <div class="section-offices__panel__scroll scroll-thin">
                    <ul class="list-offices js-accordion">
                        <li class="acc_section">
                            <div class="acc_head">
                                <div>
                                    <div class="image-box list-offices__thumb">
                                        <img
                                            src="https://loremflickr.com/500/500/new-work?lock=2"
                                        />
                                    </div>
                                </div>
                                <div class="list-offices__name">
                                    Офис продаж ЖК «Привилегия»
                                </div>
                                <div>
                                    <div class="list-offices__btn-plus"></div>
                                </div>
                            </div>
                            <div class="acc_content" style="display: none">
                                <div class="list-offices__body">
                                    <!-- @@include = ./accordion-contacts.html -->
                                </div>
                            </div>
                        </li>

                        <li class="acc_section">
                            <div class="acc_head">
                                <div>
                                    <div class="image-box list-offices__thumb">
                                        <img
                                            src="https://loremflickr.com/500/500/new-work?lock=3"
                                        />
                                    </div>
                                </div>
                                <div class="list-offices__name">
                                    Офис продаж ЖК «Центр парк»
                                </div>
                                <div>
                                    <div class="list-offices__btn-plus"></div>
                                </div>
                            </div>
                            <div class="acc_content" style="display: none">
                                <div class="list-offices__body">
                                    <!-- @@include = ./accordion-contacts.html -->
                                </div>
                            </div>
                        </li>

                        <li class="acc_section">
                            <div class="acc_head">
                                <div>
                                    <div class="image-box list-offices__thumb">
                                        <img
                                            src="https://loremflickr.com/500/500/new-work?lock=4"
                                        />
                                    </div>
                                </div>
                                <div class="list-offices__name">
                                    Офис продаж ЖК «Яковлева роща»
                                </div>
                                <div>
                                    <div class="list-offices__btn-plus"></div>
                                </div>
                            </div>
                            <div class="acc_content" style="display: none">
                                <div class="list-offices__body">
                                    <!-- @@include = ./accordion-contacts.html -->
                                </div>
                            </div>
                        </li>

                        <li class="acc_section">
                            <div class="acc_head">
                                <div>
                                    <div class="image-box list-offices__thumb">
                                        <img
                                            src="https://loremflickr.com/500/500/new-work?lock=5"
                                        />
                                    </div>
                                </div>
                                <div class="list-offices__name">
                                    Офис продаж ЖК «Привилегия»
                                </div>
                                <div>
                                    <div class="list-offices__btn-plus"></div>
                                </div>
                            </div>
                            <div class="acc_content" style="display: none">
                                <div class="list-offices__body">
                                    <!-- @@include = ./accordion-contacts.html -->
                                </div>
                            </div>
                        </li>

                        <li class="acc_section">
                            <div class="acc_head">
                                <div>
                                    <div class="image-box list-offices__thumb">
                                        <img
                                            src="https://loremflickr.com/500/500/new-work?lock=6"
                                        />
                                    </div>
                                </div>
                                <div class="list-offices__name">
                                    Офис продаж ЖК «Центр парк»
                                </div>
                                <div>
                                    <div class="list-offices__btn-plus"></div>
                                </div>
                            </div>
                            <div class="acc_content" style="display: none">
                                <div class="list-offices__body">
                                    <!-- @@include = ./accordion-contacts.html -->
                                </div>
                            </div>
                        </li>

                        <li class="acc_section">
                            <div class="acc_head">
                                <div>
                                    <div class="image-box list-offices__thumb">
                                        <img
                                            src="https://loremflickr.com/500/500/new-work?lock=7"
                                        />
                                    </div>
                                </div>
                                <div class="list-offices__name">
                                    Офис продаж ЖК «Яковлева роща»
                                </div>
                                <div>
                                    <div class="list-offices__btn-plus"></div>
                                </div>
                            </div>
                            <div class="acc_content" style="display: none">
                                <div class="list-offices__body">
                                    <!-- @@include = ./accordion-contacts.html -->
                                </div>
                            </div>
                        </li>

                        <li class="acc_section">
                            <div class="acc_head">
                                <div>
                                    <div class="image-box list-offices__thumb">
                                        <img
                                            src="https://loremflickr.com/500/500/new-work?lock=8"
                                        />
                                    </div>
                                </div>
                                <div class="list-offices__name">
                                    Офис продаж ЖК «Привилегия»
                                </div>
                                <div>
                                    <div class="list-offices__btn-plus"></div>
                                </div>
                            </div>
                            <div class="acc_content" style="display: none">
                                <div class="list-offices__body">
                                    <!-- @@include = ./accordion-contacts.html -->
                                </div>
                            </div>
                        </li>

                        <li class="acc_section">
                            <div class="acc_head">
                                <div>
                                    <div class="image-box list-offices__thumb">
                                        <img
                                            src="https://loremflickr.com/500/500/new-work?lock=9"
                                        />
                                    </div>
                                </div>
                                <div class="list-offices__name">
                                    Офис продаж ЖК «Центр парк»
                                </div>
                                <div>
                                    <div class="list-offices__btn-plus"></div>
                                </div>
                            </div>
                            <div class="acc_content" style="display: none">
                                <div class="list-offices__body">
                                    <!-- @@include = ./accordion-contacts.html -->
                                </div>
                            </div>
                        </li>

                        <li class="acc_section">
                            <div class="acc_head">
                                <div>
                                    <div class="image-box list-offices__thumb">
                                        <img
                                            src="https://loremflickr.com/500/500/new-work?lock=1"
                                        />
                                    </div>
                                </div>
                                <div class="list-offices__name">
                                    Офис продаж ЖК «Яковлева роща»
                                </div>
                                <div>
                                    <div class="list-offices__btn-plus"></div>
                                </div>
                            </div>
                            <div class="acc_content" style="display: none">
                                <div class="list-offices__body">
                                    <!-- @@include = ./accordion-contacts.html -->
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
