<section class="section-window" id="section-window">
    <div class="section-window__h1">
        <div class="read-line">
            <span class="read-line__item"
                >вид из окна&nbsp;<span>/&nbsp;</span></span
            >
            <span class="read-line__item"
                >вид из окна&nbsp;<span>/&nbsp;</span></span
            >
            <span class="read-line__item"
                >вид из окна&nbsp;<span>/&nbsp;</span></span
            >
            <span class="read-line__item"
                >вид из окна&nbsp;<span>/&nbsp;</span></span
            >
            <span class="read-line__item"
                >вид из окна&nbsp;<span>/&nbsp;</span></span
            >
        </div>
    </div>

    <div class="container">
        <div class="section-window__desc">
            Вид из окон ЖК “Центр Парк” это не только прекрасные пейзажи, но и
            чувство уюта и спокойствия, ведь каждая квартира спроектирована так,
            чтобы максимально использовать естественное освещение и предоставить
            лучший вид.
        </div>

        <div class="section-window__photos">
            <div>
                <div class="image-box section-window__image">
                    <img src="img/section-window/1.jpg" alt="" />
                </div>
            </div>
            <div>
                <div class="image-box section-window__image">
                    <img src="img/section-window/2.jpg" alt="" />
                </div>
            </div>
            <div>
                <div class="image-box section-window__image">
                    <img src="img/section-window/3.jpg" alt="" />
                </div>
            </div>
        </div>
    </div>
</section>
