<section class="section-plans js-slider-root" id="section-plans">
    <div class="container">
        <div class="section-plans__header">
            <h2 class="section-plans__h1">Планировки</h2>
            <div class="section-plans__nav">
                <nav class="nav-arrows">
                    <ul>
                        <li>
                            <button class="btn-arrow js-slider-prev">
                                <svg class="icon">
                                    <use
                                        xlink:href="img/icons/general/sprite.svg#arrow-left"
                                    ></use>
                                </svg>
                            </button>
                        </li>
                        <li>
                            <button class="btn-arrow js-slider-next">
                                <svg class="icon flip-x">
                                    <use
                                        xlink:href="img/icons/general/sprite.svg#arrow-left"
                                    ></use>
                                </svg>
                            </button>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>

        <!-- @@include = ./slider-plans.html -->
    </div>
</section>
