<section class="programs section">
    <div class="container">
        <h2 class="programs__title section__title h3">Ипотечные программы</h2>
        <div class="programs__list cards">
            <div class="programs-item card">
                <div class="programs-item__img">
                    <picture
                        ><source
                            srcset="
                                https://transuyshstroy.netlify.app/img/programs/program-01.webp
                            "
                            type="image/webp" />
                        <img
                            src="https://transuyshstroy.netlify.app/img/programs/program-01.png"
                            alt=""
                    /></picture>
                </div>
                <div class="programs-item__info">
                    <div class="programs-item__top">
                        <div class="programs-item__desc">
                            <a href="#" class="programs-item__title h3"
                                >Господдержка</a
                            >
                            <div class="programs-item__subtitle">
                                Ипотека со сниженной ставкой на весь срок
                                кредита
                            </div>
                        </div>
                        <div class="programs-item__icon">
                            <svg width="24" height="24">
                                <use
                                    xlink:href="https://transuyshstroy.netlify.app/img/icons/icons.svg#buildings"
                                ></use>
                            </svg>
                        </div>
                    </div>
                    <div class="programs-item__panel">
                        <div class="programs-item__panel-list">
                            <div class="programs-item__panel-info">
                                <div class="programs-item__panel-cell">
                                    от 15%
                                    <span>Первоначальный взнос</span>
                                </div>
                            </div>
                            <div class="programs-item__panel-info">
                                <div class="programs-item__panel-cell">
                                    5%
                                    <span>Процентная ставка</span>
                                </div>
                            </div>
                            <div class="programs-item__panel-info">
                                <div class="programs-item__panel-cell">
                                    до 30 лет
                                    <span>Срок кредита</span>
                                </div>
                            </div>
                            <div class="programs-item__panel-info">
                                <div class="programs-item__panel-cell">
                                    до 9 млн
                                    <span>умма кредита</span>
                                </div>
                            </div>
                        </div>
                        <a href="#" class="programs-item__panel-add">
                            <span>Подробнее</span>
                            <svg width="20" height="20">
                                <use
                                    xlink:href="https://transuyshstroy.netlify.app/img/icons/icons.svg#plus"
                                ></use>
                            </svg>
                        </a>
                    </div>
                </div>
            </div>
            <div class="programs-item card">
                <div class="programs-item__img">
                    <picture
                        ><source
                            srcset="
                                https://transuyshstroy.netlify.app/img/programs/program-02.webp
                            "
                            type="image/webp" />
                        <img
                            src="https://transuyshstroy.netlify.app/img/programs/program-02.png"
                            alt=""
                    /></picture>
                </div>
                <div class="programs-item__info">
                    <div class="programs-item__top">
                        <div class="programs-item__desc">
                            <a href="#" class="programs-item__title h3"
                                >Семейная ипотека</a
                            >
                            <div class="programs-item__subtitle">
                                Льготная ипотека для семей с детьми
                            </div>
                        </div>
                        <div class="programs-item__icon">
                            <svg width="24" height="24">
                                <use
                                    xlink:href="https://transuyshstroy.netlify.app/img/icons/icons.svg#family"
                                ></use>
                            </svg>
                        </div>
                    </div>
                    <div class="programs-item__panel">
                        <div class="programs-item__panel-list">
                            <div class="programs-item__panel-info">
                                <div class="programs-item__panel-cell">
                                    от 15%
                                    <span>Первоначальный взнос</span>
                                </div>
                            </div>
                            <div class="programs-item__panel-info">
                                <div class="programs-item__panel-cell">
                                    5%
                                    <span>Процентная ставка</span>
                                </div>
                            </div>
                            <div class="programs-item__panel-info">
                                <div class="programs-item__panel-cell">
                                    до 30 лет
                                    <span>Срок кредита</span>
                                </div>
                            </div>
                            <div class="programs-item__panel-info">
                                <div class="programs-item__panel-cell">
                                    до 9 млн
                                    <span>умма кредита</span>
                                </div>
                            </div>
                        </div>
                        <a href="#" class="programs-item__panel-add">
                            <span>Подробнее</span>
                            <svg width="20" height="20">
                                <use
                                    xlink:href="https://transuyshstroy.netlify.app/img/icons/icons.svg#plus"
                                ></use>
                            </svg>
                        </a>
                    </div>
                </div>
            </div>
            <div class="programs-item card">
                <div class="programs-item__img">
                    <picture
                        ><source
                            srcset="
                                https://transuyshstroy.netlify.app/img/programs/program-03.webp
                            "
                            type="image/webp" />
                        <img
                            src="https://transuyshstroy.netlify.app/img/programs/program-03.png"
                            alt=""
                    /></picture>
                </div>
                <div class="programs-item__info">
                    <div class="programs-item__top">
                        <div class="programs-item__desc">
                            <a href="#" class="programs-item__title h3"
                                >IT ипотека</a
                            >
                            <div class="programs-item__subtitle">
                                Льготная ипотека для сотрудников IT компаний
                            </div>
                        </div>
                        <div class="programs-item__icon">
                            <svg width="24" height="24">
                                <use
                                    xlink:href="https://transuyshstroy.netlify.app/img/icons/icons.svg#pc"
                                ></use>
                            </svg>
                        </div>
                    </div>
                    <div class="programs-item__panel">
                        <div class="programs-item__panel-list">
                            <div class="programs-item__panel-info">
                                <div class="programs-item__panel-cell">
                                    от 15%
                                    <span>Первоначальный взнос</span>
                                </div>
                            </div>
                            <div class="programs-item__panel-info">
                                <div class="programs-item__panel-cell">
                                    5%
                                    <span>Процентная ставка</span>
                                </div>
                            </div>
                            <div class="programs-item__panel-info">
                                <div class="programs-item__panel-cell">
                                    до 30 лет
                                    <span>Срок кредита</span>
                                </div>
                            </div>
                            <div class="programs-item__panel-info">
                                <div class="programs-item__panel-cell">
                                    до 9 млн
                                    <span>умма кредита</span>
                                </div>
                            </div>
                        </div>
                        <a href="#" class="programs-item__panel-add">
                            <span>Подробнее</span>
                            <svg width="20" height="20">
                                <use
                                    xlink:href="https://transuyshstroy.netlify.app/img/icons/icons.svg#plus"
                                ></use>
                            </svg>
                        </a>
                    </div>
                </div>
            </div>
            <div class="programs-item card">
                <div class="programs-item__img">
                    <picture
                        ><source
                            srcset="
                                https://transuyshstroy.netlify.app/img/programs/program-04.webp
                            "
                            type="image/webp" />
                        <img
                            src="https://transuyshstroy.netlify.app/img/programs/program-04.png"
                            alt=""
                    /></picture>
                </div>
                <div class="programs-item__info">
                    <div class="programs-item__top">
                        <div class="programs-item__desc">
                            <a href="#" class="programs-item__title h3"
                                >Губернаторская</a
                            >
                            <div class="programs-item__subtitle">
                                Субсидирование из областного бюджета для
                                работников бюджетной сферы
                            </div>
                        </div>
                        <div class="programs-item__icon">
                            <svg width="24" height="24">
                                <use
                                    xlink:href="https://transuyshstroy.netlify.app/img/icons/icons.svg#guber"
                                ></use>
                            </svg>
                        </div>
                    </div>
                    <div class="programs-item__panel">
                        <div class="programs-item__panel-list">
                            <div class="programs-item__panel-info">
                                <div class="programs-item__panel-cell">
                                    не выше 8%
                                    <span>Процентная ставка</span>
                                </div>
                            </div>
                            <div class="programs-item__panel-info">
                                <div class="programs-item__panel-cell">
                                    фикс 6%
                                    <span>Первые 5 ле</span>
                                </div>
                            </div>
                        </div>
                        <a href="#" class="programs-item__panel-add">
                            <span>Подробнее</span>
                            <svg width="20" height="20">
                                <use
                                    xlink:href="https://transuyshstroy.netlify.app/img/icons/icons.svg#plus"
                                ></use>
                            </svg>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
