<section class="section-tour" id="section-tour">
    <div class="section-tour__bg">
        <div
            class="section-tour__bg__item"
            style="background-image: url(img/section-tour/1.jpg)"
        ></div>
    </div>

    <div class="section-tour__content">
        <div class="container">
            <div class="section-tour__center">
                <div class="tabs-controls section-tour__tabs">
                    <button type="button" class="tabs-controls__item is-active">
                        Лобби
                    </button>
                    <button type="button" class="tabs-controls__item">
                        Паркинг
                    </button>
                    <button type="button" class="tabs-controls__item">
                        Благоустройство
                    </button>
                    <button type="button" class="tabs-controls__item">
                        Кладовая
                    </button>
                </div>

                <div class="section-tour__circle">
                    <div class="section-tour__circle__text"></div>
                    <div class="section-tour__circle__btn">
                        <button class="btn-plus btn-plus--white">
                            <svg class="icon">
                                <use
                                    xlink:href="img/icons/general/sprite.svg#plus"
                                ></use>
                            </svg>
                        </button>
                    </div>
                </div>

                <div class="section-tour__slider">
                    <!-- @@include = ./slider-tour.html -->
                </div>
            </div>
        </div>
    </div>
</section>
