<section class="types section p-0">
    <div class="container">
        <div class="types__title section__title h3">
            Другая <br />
            недвижимость
        </div>
        <div class="types__content" data-role="tabs">
            <div class="types__categories">
                <div class="types__category is-active" data-tabs-control="1">
                    <div class="types__category-preview">
                        <picture
                            ><source
                                srcset="
                                    https://transuyshstroy.netlify.app/img/types/cat-1.webp
                                "
                                type="image/webp" />
                            <img
                                src="https://transuyshstroy.netlify.app/img/types/cat-1.png"
                                alt=""
                        /></picture>
                    </div>
                    <div class="types__category-name">
                        Коммерческая недвижимость
                    </div>
                    <button
                        type="button"
                        class="types__category-btn btn btn--circle btn--greylight"
                    >
                        <svg width="20" height="20">
                            <use xlink:href="../img/icons/icons.svg#plus"></use>
                        </svg>
                    </button>
                </div>
                <div class="types__category" data-tabs-control="2">
                    <div class="types__category-preview">
                        <picture
                            ><source
                                srcset="
                                    https://transuyshstroy.netlify.app/img/types/cat-3.webp
                                "
                                type="image/webp" />
                            <img
                                src="https://transuyshstroy.netlify.app/img/types/cat-3.png"
                                alt=""
                        /></picture>
                    </div>
                    <div class="types__category-name">Кладовые</div>
                    <button
                        type="button"
                        class="types__category-btn btn btn--circle btn--greylight"
                    >
                        <svg width="20" height="20">
                            <use xlink:href="../img/icons/icons.svg#plus"></use>
                        </svg>
                    </button>
                </div>
                <div class="types__category" data-tabs-control="3">
                    <div class="types__category-preview">
                        <picture
                            ><source
                                srcset="
                                    https://transuyshstroy.netlify.app/img/types/cat-2.webp
                                "
                                type="image/webp" />
                            <img
                                src="https://transuyshstroy.netlify.app/img/types/cat-2.png"
                                alt=""
                        /></picture>
                    </div>
                    <div class="types__category-name">Паркинг</div>
                    <button
                        type="button"
                        class="types__category-btn btn btn--circle btn--greylight"
                    >
                        <svg width="20" height="20">
                            <use xlink:href="../img/icons/icons.svg#plus"></use>
                        </svg>
                    </button>
                </div>
            </div>
            <div class="types__main">
                <div class="types__item is-open" data-tabs-panel="1">
                    <div class="types__item-info">
                        <div class="types__item-name">
                            Коммерческая недвижимость
                        </div>
                        <div class="types__item-desc">
                            Пoмeщeния, здaния, coopyжeния и yчacтки, кoтopыe
                            пpeднaзнaчeны для извлeчeния пpибыли пyтeм cдaчи в
                            apeндy или вeдeния пpeдпpинимaтeльcкoй дeятeльнocти
                            нeпocpeдcтвeннo coбcтвeнникoм. Дoxoднocть
                            кoммepчecкoй нeдвижимocти — этo глaвный кpитepий ее
                            оценки
                        </div>
                        <div class="types__item-details">
                            <div class="types__item-detail">
                                <span>Площадь</span>
                                от 120 м2
                            </div>
                            <div class="types__item-detail">
                                <span>Стоимость</span>
                                от 2,3 млн.
                            </div>
                            <div class="types__item-detail">
                                <span>Объектов</span>
                                154 помещений
                            </div>
                        </div>
                        <a
                            href="#"
                            class="types__item-btn btn btn--wide btn--icon"
                        >
                            Подробнее
                            <svg width="18" height="18">
                                <use
                                    xlink:href="../img/icons/icons.svg#plus"
                                ></use>
                            </svg>
                        </a>
                    </div>
                    <div class="types__item-img">
                        <picture
                            ><source
                                srcset="
                                    https://transuyshstroy.netlify.app/img/types/item-01.webp
                                "
                                type="image/webp" />
                            <img
                                src="https://transuyshstroy.netlify.app/img/types/item-01.png"
                                alt=""
                        /></picture>
                    </div>
                </div>
                <div class="types__item" data-tabs-panel="2">
                    <div class="types__item-info">
                        <div class="types__item-name">Кладовые</div>
                        <div class="types__item-desc">
                            Кладовки становятся все более востребованными
                            помещениями в новостройках. Хранение домашнего
                            инструмента, утвари и спортинвентаря требует
                            дополнительных метров. Обычно кладовки проектируются
                            в подземном паркинге, на специальном техническом
                            этаже или в квартирах.
                        </div>
                        <div class="types__item-details">
                            <div class="types__item-detail">
                                <span>Площадь</span>
                                от 120 м2
                            </div>
                            <div class="types__item-detail">
                                <span>Стоимость</span>
                                от 50 тыс.
                            </div>
                            <div class="types__item-detail">
                                <span>Объектов</span>
                                120 кладовых
                            </div>
                        </div>
                        <a
                            href="#"
                            class="types__item-btn btn btn--wide btn--icon"
                        >
                            Подробнее
                            <svg width="18" height="18">
                                <use
                                    xlink:href="../img/icons/icons.svg#plus"
                                ></use>
                            </svg>
                        </a>
                    </div>
                    <div class="types__item-img">
                        <picture
                            ><source
                                srcset="
                                    https://transuyshstroy.netlify.app/img/types/item-02.webp
                                "
                                type="image/webp" />
                            <img
                                src="https://transuyshstroy.netlify.app/img/types/item-02.png"
                                alt=""
                        /></picture>
                    </div>
                </div>
                <div class="types__item" data-tabs-panel="3">
                    <div class="types__item-info">
                        <div class="types__item-name">Паркинг</div>
                        <div class="types__item-desc">
                            Место, отведённое под стоянку автомобилей. В
                            новостройках предусмотрены подземные, как правило,
                            многоуровневые помещения, в которых каждый резидент
                            может оставить свой транспорт. В современных домах
                            это делается для охраны автомобилей от внешних
                            факторов и организации концепции «двор без машин».
                        </div>
                        <div class="types__item-details">
                            <div class="types__item-detail">
                                <span>Площадь</span>
                                до 12 м2
                            </div>
                            <div class="types__item-detail">
                                <span>Стоимость</span>
                                от 50 тыс.
                            </div>
                            <div class="types__item-detail">
                                <span>Объектов</span>
                                534 мест для паркинга
                            </div>
                        </div>
                        <a
                            href="#"
                            class="types__item-btn btn btn--wide btn--icon"
                        >
                            Подробнее
                            <svg width="18" height="18">
                                <use
                                    xlink:href="../img/icons/icons.svg#plus"
                                ></use>
                            </svg>
                        </a>
                    </div>
                    <div class="types__item-img">
                        <picture
                            ><source
                                srcset="
                                    https://transuyshstroy.netlify.app/img/types/item-03.webp
                                "
                                type="image/webp" />
                            <img
                                src="https://transuyshstroy.netlify.app/img/types/item-03.png"
                                alt=""
                        /></picture>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
