<section class="section-payways js-slider-root" id="section-payways">
    <div class="container">
        <div class="section-payways__header">
            <h2 class="section-payways__h1">Способы покупки</h2>
            <div class="section-payways__nav">
                <nav class="nav-arrows">
                    <ul>
                        <li>
                            <button class="btn-arrow js-slider-prev">
                                <svg class="icon">
                                    <use
                                        xlink:href="img/icons/general/sprite.svg#arrow-left"
                                    ></use>
                                </svg>
                            </button>
                        </li>
                        <li>
                            <button class="btn-arrow js-slider-next">
                                <svg class="icon flip-x">
                                    <use
                                        xlink:href="img/icons/general/sprite.svg#arrow-left"
                                    ></use>
                                </svg>
                            </button>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>

        <!-- @@include = ./slider-payways.html -->
    </div>
</section>
