<section class="section-about" id="section-about">
    <div class="container">
        <div class="section-about__inner">
            <div class="section-about__row">
                <div class="section-about__col-desc">
                    <h2 class="h3 section__title section-about__h1">
                        О проекте
                    </h2>

                    <div class="section-about__desc">
                        ЖК «Центр Парк» — новый проект компании «Трансюжстрой»,
                        возводимый на площади 5,7 гектара у границ Центрального
                        парка имени Ленина — излюбленного места отдыха
                        белгородцев. Жители квартала могут наслаждаться видом на
                        парк из окон собственной квартиры. В их распоряжении
                        развитая инфраструктура, новый детский сад на
                        территории, многоуровневые паркинги и прекрасная
                        транспортная доступность.
                    </div>

                    <div class="section-about__props">
                        <!-- @@include = ./props-nums.html -->
                    </div>
                </div>
                <div class="section-about__col-image">
                    <div class="section-about__picture">
                        <div
                            class="image-box section-about__image"
                            style="padding-top: 138%"
                        >
                            <img
                                src="https://loremflickr.com/600/1000/construction?lock=1"
                            />
                        </div>
                    </div>
                </div>
                <div class="section-about__col-image">
                    <div
                        class="section-about__picture section-about__picture--shift"
                    >
                        <div
                            class="image-box section-about__image"
                            style="padding-top: 155%"
                        >
                            <img
                                src="https://loremflickr.com/600/1000/construction?lock=2"
                            />
                        </div>
                    </div>
                </div>
            </div>

            <div class="section-about__name">
                <div class="section-about__title">
                    Центр Парк Центр Парк Центр Парк
                </div>
            </div>
            <div class="section-about__name section-about__name--stroke">
                <div class="section-about__title">
                    Центр Парк Центр Парк Центр Парк
                </div>
            </div>
        </div>
    </div>
</section>
