<section class="section-genplan" id="section-genplan">
    <div class="section-genplan__header">
        <div class="container">
            <div class="section-genplan__header__inner">
                <h2 class="section-genplan__h1">Генплан</h2>
                <div class="section-genplan__ctrl">
                    <div class="projects__switcher p-static">
                        <button
                            type="button"
                            class="projects__switcher-btn reset-btn is-active"
                        >
                            3D
                        </button>
                        <button
                            type="button"
                            class="projects__switcher-btn reset-btn"
                        >
                            2D
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="section-genplan__scroll scroll-hidden">
        <div class="section-genplan__image">
            <div class="image-box" style="padding-top: 54.76%">
                <img src="img/section-genplan/1.jpg" alt="" />
            </div>

            <svg
                width="1680"
                height="920"
                viewBox="0 0 1680 920"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
                class="section-genplan__mask"
            >
                <a href="#">
                    <path
                        d="M800.553 463.894L801.113 464.175L801.61 463.793L807.585 459.197L818.079 465.128L825.916 520.477L715.544 585.314L703.403 576.909L693.12 524.515L707.493 516.37L708 516.083V515.5V511.08L714.094 507.598L719.158 509.44L719.613 509.605L720.025 509.351L737.025 498.851L737.699 498.435L737.449 497.684L736.667 495.338L741.177 491.648L745.629 493.428L746.077 493.608L746.496 493.368L763.996 483.368L764.5 483.08V482.5V479.118L770.409 476.164L773.419 478.314L774.008 478.734L774.591 478.306L789.591 467.306L790 467.007V466.5V463.618L795 461.118L800.553 463.894Z"
                        fill="#FF6100"
                        fill-opacity="0.2"
                        stroke="#FF6100"
                        stroke-width="2"
                        class="section-genplan__house"
                        id="section-genplan__house-1"
                        data-house-id="1"
                        data-panel-url="ajax-genplan-panel-1.html"
                    />
                </a>
            </svg>

            <div
                class="section-genplan__point"
                id="section-genplan__point-1"
                style="top: 54%; left: 39%"
                data-house-id="1"
                data-panel-url="ajax-genplan-panel-1.html"
            >
                1
            </div>

            <div
                class="section-genplan__point"
                id="section-genplan__point-2"
                style="top: 44%; left: 29%"
                data-house-id="2"
                data-panel-url="ajax-genplan-panel-2.html"
            >
                2
            </div>
        </div>
    </div>
</section>
