<div class="section-design" id="section-design ">
    <div class="container">
        <div class="section-design__row">
            <div class="section-design__col-1">
                <div class="image-box section-design__image-1">
                    <img src="img/section-design/1.jpg" alt="" />
                </div>
            </div>
            <div class="section-design__col-2">
                Впечатляющая современная архитектура, включает высокие жилые
                здания с элегантными фасадами и панорамными окнами,
                обеспечивающими потрясающие виды на окружающий ландшафт.
                Интегрированный ландшафтный дизайн придаёт уникальный характер
                комплексу, включая ухоженные парки, аллеи и релаксационные зоны.
            </div>
            <div class="section-design__col-3">
                <div class="image-box section-design__image-2">
                    <img src="img/section-design/2.jpg" alt="" />
                </div>

                <div class="section-design__ctrl">
                    <!-- @@include = ./nav-circle.html -->
                </div>
            </div>

            <div class="section-design__name">
                <div class="section-design__title">aрхитектура</div>
            </div>

            <div class="section-design__name section-design__name--stroke">
                <div class="section-design__title">aрхитектура</div>
            </div>
        </div>
    </div>
</div>
