<section class="section-location" id="section-location">
    <div class="container">
        <div class="section-location__header">
            <div class="h3 section__title section-location__h1">
                Местоположение
            </div>
            <div class="section-location__desc">
                Все квартиры в ЖК «Центр Парк» сдаются с готовой отделкой.
                На полу будет качественный ламинат, на стенах — обои под
                покраску, во всей квартире — натяжной потолок, установлены
                межкомнатные двери и входные двери с дополнительной
                шумоизоляцией.
            </div>
        </div>

        <div class="section-location__map">
            <div
                class="map-location"
                data-image-url="img/map-location/1.jpg"
                data-image-size="[4096, 2371]"
                data-center="[1517.5944526929193, 2515.3641025641027]"
                data-logo-position="[1517.5944526929193, 2515.3641025641027]"
                data-points-url="data/map-location-points.json"
            >
                <div class="map-location__box"></div>
            </div>

            <div class="section-location__select">
                <div class="filter-item__select">
                    <select class="filter-select js-section-location-select">
                        <option value="all">Все объекты</option>
                        <option value="pharmacy">Аптека</option>
                        <option value="food-store">Продукты</option>
                        <option value="school">Школа</option>
                        <option value="kindergarden">Детский сад</option>
                    </select>
                </div>
            </div>

            <div class="section-location__panel">
                <div class="section-location__panel__scroll scroll-thin">
                    <!-- @@include = ./nav-category.html -->
                </div>
            </div>
        </div>
    </div>
</section>
