<div class="slider-tour">
    <div class="slider-tour__wrapper">
        <div class="slider-tour__slide">
            <article class="card-tour">
                <div class="card-tour__left">
                    <h1 class="card-tour__h1">Лобби</h1>
                    <div class="card-tour__desc">
                        Пространство лобби отличается изысканным дизайном и
                        функциональностью. Высокие потолки и широкие стеклянные
                        окна позволяют естественному свету проникать внутрь,
                        создавая игру света и тени, а также добавляя ощущение
                        простора. Уютные сиденья и элементы декора подчеркивают
                        современный стиль и придают лобби особый шарм.
                    </div>
                </div>
                <div class="card-tour__right">
                    <div class="image-box card-tour__image">
                        <img src="img/temp/section-tour/4.jpg" />

                        <div class="card-tour__btn-plus">
                            <button class="btn-plus btn-plus--orange">
                                <svg class="icon">
                                    <use
                                        xlink:href="img/icons/general/sprite.svg#plus"
                                    ></use>
                                </svg>
                            </button>
                        </div>
                    </div>
                </div>
            </article>
        </div>
        <div class="slider-tour__slide">
            <article class="card-tour">
                <div class="card-tour__left">
                    <h1 class="card-tour__h1">Паркинг</h1>
                    <div class="card-tour__desc">
                        Cоздавая игру света и тени, а также добавляя ощущение
                        простора. Уютные сиденья и элементы декора подчеркивают
                        современный стиль и придают лобби особый шарм.
                    </div>
                </div>
                <div class="card-tour__right">
                    <div class="image-box card-tour__image">
                        <img src="img/temp/section-tour/3.jpg " />

                        <div class="card-tour__btn-plus">
                            <button class="btn-plus btn-plus--orange">
                                <svg class="icon">
                                    <use
                                        xlink:href="img/icons/general/sprite.svg#plus"
                                    ></use>
                                </svg>
                            </button>
                        </div>
                    </div>
                </div>
            </article>
        </div>

        <div class="slider-tour__slide">
            <article class="card-tour">
                <div class="card-tour__left">
                    <h1 class="card-tour__h1">Благоустройство</h1>
                    <div class="card-tour__desc">
                        Пространство лобби отличается изысканным дизайном и
                        функциональностью. Высокие потолки и широкие стеклянные
                        окна позволяют естественному свету проникать внутрь.
                    </div>
                </div>
                <div class="card-tour__right">
                    <div class="image-box card-tour__image">
                        <img src="img/temp/section-tour/2.jpg" alt="" />

                        <div class="card-tour__btn-plus">
                            <button class="btn-plus btn-plus--orange">
                                <svg class="icon">
                                    <use
                                        xlink:href="img/icons/general/sprite.svg#plus"
                                    ></use>
                                </svg>
                            </button>
                        </div>
                    </div>
                </div>
            </article>
        </div>

        <div class="slider-tour__slide">
            <article class="card-tour">
                <div class="card-tour__left">
                    <h1 class="card-tour__h1">Кладовая</h1>
                    <div class="card-tour__desc">
                        Пространство лобби отличается изысканным дизайном и
                        функциональностью. Высокие потолки и широкие стеклянные
                        окна позволяют естественному свету проникать внутрь.
                        Высокие потолки и широкие стеклянные окна позволяют
                        естественному свету проникать внутрь.
                    </div>
                </div>
                <div class="card-tour__right">
                    <div class="image-box card-tour__image">
                        <img src="img/temp/section-tour/5.jpg" />

                        <div class="card-tour__btn-plus">
                            <button class="btn-plus btn-plus--orange">
                                <svg class="icon">
                                    <use
                                        xlink:href="img/icons/general/sprite.svg#plus"
                                    ></use>
                                </svg>
                            </button>
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </div>
    <div class="slider-tour__ctrl-names">
        <nav class="nav-tour">
            <ul>
                <li class="active">
                    <a href="#">Лобби</a>
                </li>
                <li><a href="#">Паркинг</a></li>
                <li>
                    <a href="#">Благоустройство</a>
                </li>
                <li><a href="#">Кладовая</a></li>
            </ul>
        </nav>
    </div>
    <div class="slider-tour__ctrl-btns">
        <nav class="nav-arrows">
            <ul>
                <li>
                    <button class="btn-arrow btn-arrow--blur js-slider-prev">
                        <svg class="icon">
                            <use
                                xlink:href="img/icons/general/sprite.svg#arrow-left"
                            ></use>
                        </svg>
                    </button>
                </li>
                <li>
                    <button class="btn-arrow btn-arrow--blur js-slider-next">
                        <svg class="icon flip-x">
                            <use
                                xlink:href="img/icons/general/sprite.svg#arrow-left"
                            ></use>
                        </svg>
                    </button>
                </li>
            </ul>
        </nav>
    </div>
</div>
