<div class="slider-cameras">
    <div class="swiper">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <article class="card-camera">
                    <div class="card-camera__picture">
                        <div class="image-box card-camera__image">
                            <img
                                src="https://loremflickr.com/500/500/construction?lock=1"
                            />
                        </div>
                        <div class="card-camera__btn-play">
                            <button class="btn-camera">
                                <svg class="icon">
                                    <use
                                        xlink:href="img/icons/general/sprite.svg#camera"
                                    ></use>
                                </svg>
                            </button>
                        </div>
                    </div>
                    <div class="card-camera__desc">Камера 1</div>
                </article>
            </div>
            <div class="swiper-slide">
                <article class="card-camera">
                    <div class="card-camera__picture">
                        <div class="image-box card-camera__image">
                            <img
                                src="https://loremflickr.com/500/500/construction?lock=2"
                            />
                        </div>
                        <div class="card-camera__btn-play">
                            <button class="btn-camera">
                                <svg class="icon">
                                    <use
                                        xlink:href="img/icons/general/sprite.svg#camera"
                                    ></use>
                                </svg>
                            </button>
                        </div>
                    </div>
                    <div class="card-camera__desc">Камера 2</div>
                </article>
            </div>
            <div class="swiper-slide">
                <article class="card-camera">
                    <div class="card-camera__picture">
                        <div class="image-box card-camera__image">
                            <img
                                src="https://loremflickr.com/500/500/construction?lock=3"
                            />
                        </div>
                    </div>
                    <div class="card-camera__desc">Декабрь 2023</div>
                </article>
            </div>
            <div class="swiper-slide">
                <article class="card-camera">
                    <div class="card-camera__picture">
                        <div class="image-box card-camera__image">
                            <img
                                src="https://loremflickr.com/500/500/construction?lock=4"
                            />
                        </div>
                    </div>
                    <div class="card-camera__desc">Ноябрь 2023</div>
                </article>
            </div>
        </div>
    </div>
</div>
