<div class="slider-docs">
    <div class="swiper">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <article class="card-doc">
                    <div class="card-doc__header">
                        <svg class="icon">
                            <use
                                xlink:href="img/icons/general/sprite.svg#document"
                            ></use>
                        </svg>
                        <span>Жилой дом 1</span>
                    </div>
                    <div class="card-doc__btn-download">
                        <a href="#" class="btn-download">
                            <span
                                >Скачать<span class="btn-download__ext"
                                    >.pdf 2,6 Mb</span
                                ></span
                            >
                            <svg class="icon">
                                <use
                                    xlink:href="img/icons/general/sprite.svg#upload-file"
                                ></use>
                            </svg>
                        </a>
                    </div>
                </article>
            </div>

            <div class="swiper-slide">
                <article class="card-doc">
                    <div class="card-doc__header">
                        <svg class="icon">
                            <use
                                xlink:href="img/icons/general/sprite.svg#document"
                            ></use>
                        </svg>
                        <span
                            >Lorem ipsum dolor sit amet, consectetur adipisicing
                            elit. Culpa, quidem! Sunt et illum nisi sapiente
                            perspiciatis vel modi?
                        </span>
                    </div>
                    <div class="card-doc__btn-download">
                        <a href="#" class="btn-download">
                            <span
                                >Скачать<span class="btn-download__ext"
                                    >.pdf 2,6 Mb</span
                                ></span
                            >
                            <svg class="icon">
                                <use
                                    xlink:href="img/icons/general/sprite.svg#upload-file"
                                ></use>
                            </svg>
                        </a>
                    </div>
                </article>
            </div>

            <div class="swiper-slide">
                <article class="card-doc">
                    <div class="card-doc__header">
                        <svg class="icon">
                            <use
                                xlink:href="img/icons/general/sprite.svg#document"
                            ></use>
                        </svg>
                        <span>Паркинг</span>
                    </div>
                    <div class="card-doc__btn-download">
                        <a href="#" class="btn-download">
                            <span
                                >Скачать<span class="btn-download__ext"
                                    >.pdf 2,6 Mb</span
                                ></span
                            >
                            <svg class="icon">
                                <use
                                    xlink:href="img/icons/general/sprite.svg#upload-file"
                                ></use>
                            </svg>
                        </a>
                    </div>
                </article>
            </div>
        </div>
    </div>
</div>
