<nav class="slider-menu js-slider-root">
    <div class="swiper">
        <ul class="swiper-wrapper">
            <li class="swiper-slide">
                <a href="#">О проекте</a>
            </li>

            <li class="swiper-slide active">
                <a href="#">Местоположение</a>
            </li>

            <li class="swiper-slide">
                <a href="#">Видео</a>
            </li>

            <li class="swiper-slide">
                <a href="#">Генплан</a>
            </li>

            <li class="swiper-slide">
                <a href="#">Архитектура</a>
            </li>

            <li class="swiper-slide">
                <a href="#">Лобби</a>
            </li>

            <li class="swiper-slide">
                <a href="#">Благоустройство</a>
            </li>

            <li class="swiper-slide">
                <a href="#">Паркинг</a>
            </li>

            <li class="swiper-slide">
                <a href="#">Кладовая</a>
            </li>

            <li class="swiper-slide">
                <a href="#">Вид из окна</a>
            </li>

            <li class="swiper-slide">
                <a href="#">Ход строительства</a>
            </li>
        </ul>
    </div>
</nav>
