<div class="slider-quotes">
    <div class="swiper">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <!-- @@include = ./panel-person.html -->
            </div>
            <div class="swiper-slide">
                <article class="panel-person">
                    <div class="image-box panel-person__photo">
                        <img
                            src="https://loremflickr.com/500/500/hipster-selfi?lock=1"
                        />
                    </div>
                    <div class="panel-person__text">
                        Иногда настолько тепло, что приходится убавлять батареи.
                        Короче, я всем довольна.Я на последнем этаже живу.
                        Специально купила квартиру на последнем,
                        чтобы над головой соседи не топали. В квартире тепло
                        и тихо, комфортно.
                    </div>
                    <div class="panel-person__name">Петрова Анастасия</div>

                    <div class="panel-person__btn-expand">
                        <button class="btn-expand active"></button>
                    </div>
                </article>
            </div>
            <div class="swiper-slide">
                <!-- @@include = ./panel-person.html -->
            </div>
            <div class="swiper-slide">
                <!-- @@include = ./panel-person.html -->
            </div>
            <div class="swiper-slide">
                <!-- @@include = ./panel-person.html -->
            </div>
            <div class="swiper-slide">
                <!-- @@include = ./panel-person.html -->
            </div>
            <div class="swiper-slide">
                <!-- @@include = ./panel-person.html -->
            </div>
            <div class="swiper-slide">
                <!-- @@include = ./panel-person.html -->
            </div>
            <div class="swiper-slide">
                <!-- @@include = ./panel-person.html -->
            </div>
            <div class="swiper-slide">
                <!-- @@include = ./panel-person.html -->
            </div>
            <div class="swiper-slide">
                <!-- @@include = ./panel-person.html -->
            </div>
            <div class="swiper-slide">
                <!-- @@include = ./panel-person.html -->
            </div>
            <div class="swiper-slide">
                <!-- @@include = ./panel-person.html -->
            </div>
            <div class="swiper-slide">
                <!-- @@include = ./panel-person.html -->
            </div>
            <div class="swiper-slide">
                <!-- @@include = ./panel-person.html -->
            </div>
            <div class="swiper-slide">
                <!-- @@include = ./panel-person.html -->
            </div>
        </div>
    </div>
</div>
