.table-flats {
    width: 100%;
    border-collapse: collapse;
    color: #fff;

    tr {
        &:first-child {
            td {
                padding-top: 0;
            }
        }
    }

    td {
        padding: 20px 0 5px 0;
        border-bottom: 1px solid #ffffff66;
        font-size: 14px;
        font-weight: 500;
        line-height: 1.2;

        &:nth-child(1) {
            width: 45%;
        }

        &:nth-child(2) {
            opacity: 0.5;
            color: rgba(#000000, 0.5);
        }

        &:last-child {
            text-align: right;
        }
    }

    &--dark {
        color: #000000;

        td {
            border-bottom: 1px solid #00000066;
        }
    }
}
